@model DemoProject.Services.ViewModel.Management.Master.AgendaViewModel
@using DemoProject.Services.HtmlHelpers
@using DemoProject.Services.ViewModel.Management.Master
@using DemoProject.Services.ViewModel.Configuration

@{
    AgendaViewModel model = new AgendaViewModel();
    HeaderPartialModel headerPartialModel = new HeaderPartialModel("AGDAMN");
}

<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <title>Agenda - Amend</title>
</head>
<body>
    <div class="container-fluid">
        @*======= First Row - For Header =======*@
        <div class="row">
            <div class="offset-1 col-10">
                @Html.Partial("Header", headerPartialModel)
            </div>
        </div>

        @*======= Second Row - Data Entry Page =======*@
        <div class="row mt-3">
            <div class="offset-1 col-10">
                <div class="card mb-3">
                    @using (Html.BeginForm("Amend", "Agenda", FormMethod.Post, new { enctype = "multipart/form-data", id = "form", autocomplete = "off" }))
                    {
                        @Html.AntiForgeryToken()
                        {
                            <div class="card-body">
                                @*======= First Row - Mandatory Mark =======*@
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <h6 class="mb-2 text-right text-muted"><b class="mandatory-mark">&nbsp; Mandatory Field</b></h6>
                                    </div>
                                </div>

                                @*======= Second Row - Page Title =======*@
                                <div class="row mt-2">
                                    @*Page Title*@
                                    <div class="col-12">
                                        <h5 class="font-weight-bold mt-1">Amend</h5>
                                        <hr />
                                    </div>
                                </div>

                                @*Submit Error*@
                                @Html.ValidationMessage("SubmitError")

                                @*======= Third Row - Data Entry Page =======*@
                                <div class="row">
                                    <div class="col-12">
                                        @*CheckerRemark*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Checker Remark")
                                            @Html.TextBoxFor(m => m.CheckerRemark, new { @class = "form-control mandatory-mark read-only" })
                                            @Html.ValidationMessageFor(m => m.CheckerRemark)
                                        </div>

                                        @*NameOfAgenda*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Name Of Agenda")
                                            @Html.TextBoxFor(m => m.NameOfAgenda, new { @id = "name-of-agenda", @class = "form-control mandatory-mark title-case", @placeholder = "Enter Name Of Agenda", required = "required", @maxlength = 4000, onkeydown = "Maketranslation()" })
                                            @Html.ValidationMessageFor(m => m.NameOfAgenda)
                                        </div>

                                        @*TransNameOfAgenda*@
                                        <div class="form-group">
                                            @Html.CustomLabel(model.NameOfAgendaInRegionalLanguage)
                                            @Html.TextBoxFor(m => m.TransNameOfAgenda, new { @Id = "trans-name-of-agenda", @class = "form-control mandatory-mark", @placeholder = model.NameOfAgendaPlaceHolderInRegionalLanguage, required = "required" })
                                            @Html.ValidationMessageFor(m => m.TransNameOfAgenda)
                                        </div>

                                        @*AliasName*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Alias Name")
                                            @Html.TextBoxFor(m => m.AliasName, new { @id = "alias-name", @class = "form-control default-none title-case", @placeholder = "Enter Alias Name", @maxlength = 10, onkeydown = "Maketranslation()" })
                                            @Html.ValidationMessageFor(m => m.AliasName)
                                        </div>

                                        @*TransAliasName*@
                                        <div class="form-group">
                                            @Html.CustomLabel(model.AliasNameInRegionalLanguage)
                                            @Html.TextBoxFor(m => m.TransAliasName, null, new { @id = "trans-alias-name", @class = "form-control default-none", @placeholder = model.AliasNamePlaceHolderInRegionalLanguage, @maxlength = 10 })
                                            @Html.ValidationMessageFor(m => m.TransAliasName)
                                        </div>

                                        @*NameOnReport*@
                                        <div class="form-group">
                                            @Html.CustomLabel(" Name On Report")
                                            @Html.TextBoxFor(m => m.NameOnReport, new { @id = "name-on-report", @class = "form-control default-none title-case", @placeholder = "Enter Name On Report", @maxlength = 100, onkeydown = "Maketranslation()" })
                                            @Html.ValidationMessageFor(m => m.NameOnReport)
                                        </div>

                                        @*TransNameOnReport*@
                                        <div class="form-group">
                                            @Html.CustomLabel(model.NameOnReportInRegionalLanguage)
                                            @Html.TextBoxFor(m => m.TransNameOnReport, null, new { @id = "trans-name-on-report", @class = "form-control default-none", @placeholder = model.NameOnReportPlaceHolderInRegionalLanguage, @maxlength = 100 })
                                            @Html.ValidationMessageFor(m => m.TransNameOnReport)
                                        </div>

                                        @*TimeAllocation*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Time Allocation")
                                            @Html.TextBoxFor(m => m.TimeAllocation, new { @class = "form-control mandatory-mark", @placeholder = "Enter Time Allocation", required = "required", @type = "time"})
                                            @Html.ValidationMessageFor(m => m.TimeAllocation)
                                        </div>

                                        @*ActivationDate*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Activation Date")
                                            @Html.TextBoxFor(m => m.ActivationDate, "{0:yyyy-MM-dd}", new { @id = "ActivationDate", @class = "form-control mandatory-mark", @Type = "date", onchange = "Activedate()" })
                                            @Html.ValidationMessageFor(m => m.ActivationDate)
                                        </div>

                                        @*Expiry Date*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Expiry Date")
                                            @Html.TextBoxFor(m => m.ExpiryDate, "{0:yyyy-MM-dd}", new { @id = "ExpiryDate", @class = "form-control", @Type = "date", onchange = "Expirydate()" })
                                            @Html.ValidationMessageFor(m => m.ExpiryDate)
                                        </div>

                                        @*Note*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Note")
                                            @Html.TextAreaFor(m => m.Note, new { @id = "note", @class = "form-control title-case", @placeholder = "Enter Note", @maxlength = 1500, onkeydown = "Maketranslation()" })
                                            @Html.ValidationMessageFor(m => m.Note)
                                        </div>

                                        @*TransNote*@
                                        <div class="form-group">
                                            @Html.CustomLabel(model.NoteInRegionalLanguage)
                                            @Html.TextAreaFor(m => m.TransNote, new { @id = "trans-note", @class = "form-control", @placeholder = model.NotePlaceHolderInRegionalLanguage, @maxlength = 1500 })
                                            @Html.ValidationMessageFor(m => m.TransNote)
                                        </div>

                                        @*Hiddent Field For AgendaPrmKey*@
                                        @Html.HiddenFor(m => m.AgendaPrmKey)

                                        @*Hiddent Field For AgendaModificationPrmKey*@
                                        @Html.HiddenFor(m => m.AgendaModificationPrmKey)

                                        @*Hiddent Field For AgendaTranslationPrmKey*@
                                        @Html.HiddenFor(m => m.AgendaTranslationPrmKey)

                                    </div>
                                </div>
                            </div>

                            @*Footer*@
                            @Html.OperationFooter("Amend", "Exit", "Home", Model.Remark)
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    var uniqueNameOfAgenda = "@Url.Action("GetUniqueAgendaName", "Agenda")";
</script>
<script src="~/Scripts/Custom/Agenda.js"></script>