@model DemoProject.Services.ViewModel.Management.Master.BoardOfDirectorViewModel
@using DemoProject.Services.HtmlHelpers
@using DemoProject.Services.ViewModel.Management.Master
@using DemoProject.Services.ViewModel.Configuration

@{
    BoardOfDirectorViewModel model = new BoardOfDirectorViewModel();
    HeaderPartialModel headerPartialModel = new HeaderPartialModel("BODAMN");
}
 
<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <title>BoardOfDirector - Amend</title>
</head>
<body>
    <div class="container-fluid">

        @*======= First Row - For Header =======*@
        <div class="row">
            <div class="offset-lg-1 col-10">
                @Html.Partial("Header", headerPartialModel)
            </div>
        </div>

        @* ======= Second Row - Data Entry Page ======= *@
        <div class="row mt-3">
            <div class="offset-1 col-10">
                <div class="card mb-3">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        {
                            <div class="card-body">
                                @*======= First  Row - Mandatory Mark =======*@
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <h6 class="mb-2 text-right text-muted"><b class="mandatory-mark"> &nbsp; Mandatory Field</b></h6>
                                    </div>
                                </div>

                                @*======= Second Row - Page Title =======*@
                                <div class="row mt-2">
                                    @*Page Title If Screen Large Then Column - 12 Otherwise Col - 6 For Create And Remaining For Translation*@
                                    <div class="col-12">
                                        <h5 class="font-weight-bold mt-1">Amend</h5>
                                        <hr />
                                    </div>
                                </div>

                                @*Submit Error*@
                                @Html.ValidationMessage("SubmitError")

                                @* ======= Third Row - Data Entry Page ======= *@
                                <div class="row">
                                    <div class="col-12">
                                        @*CheckerRemark*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Checker Remark")
                                            @Html.TextBoxFor(m => m.CheckerRemark, new { @class = "form-control mandatory-mark read-only" })
                                            @Html.ValidationMessageFor(m => m.CheckerRemark)
                                        </div>

                                        @*Customer Account*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Customer Account")
                                            <div class="mr-3">
                                                @Html.DropDownListFor(m => m.CustomerAccountId, new SelectList(model.CustomerAccountDropdownList, "Value", "Text"), "--- Select Customer Account ---", new { @class = "form-control mandatory-mark", required = "required" })
                                                @Html.ValidationMessageFor(m => m.CustomerAccountId)
                                            </div>
                                        </div>

                                        @*DesignationPrmKey*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Designation")
                                            <div class="mr-3">
                                                @Html.DropDownListFor(m => m.DesignationId, new SelectList(model.DesignationDropdownList, "Value", "Text"), "--- Select Designation ---", new { @class = "form-control mandatory-mark", required = "required" })
                                                @Html.ValidationMessageFor(m => m.DesignationId)
                                            </div>
                                        </div>

                                        @*SequenceNumber*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Sequence Number")
                                            @Html.TextBoxFor(m => m.SequenceNumber, new { @class = "form-control", @placeholder = "Enter Sequence Number", @type = "number", @Value = "1", @min = 1, @max = 255, @autocomplete = "off" })
                                            @Html.ValidationMessageFor(m => m.SequenceNumber)
                                        </div>

                                        @*SequenceNumberText*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Sequence Number Text")
                                            @Html.TextBoxFor(m => m.SequenceNumberText, new { @id = "sequence-number-text", @class = "form-control mandatory-mark text-capitalize", @placeholder = "Enter Sequence Number Text", required = "required", @maxlength = 20, @autocomplete = "off", onkeydown = "Maketranslation()", onkeyup = "ToTextCapitalize()" })
                                            @Html.ValidationMessageFor(m => m.SequenceNumberText)
                                        </div>

                                        @*DateOfAppointment*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Date Of Appointment")
                                            @Html.TextBoxFor(m => m.DateOfAppointment, "{0:yyyy-MM-dd}", new { @class = "form-control mandatory-mark", required = "required", @Type = "date" })
                                            @Html.ValidationMessageFor(m => m.DateOfAppointment)
                                        </div>
                                        <br />

                                        @*IsDisqualified*@
                                        <div class="row form-group">
                                            <div class="col-4">
                                                @Html.CustomLabel("Is Disqualified")
                                            </div>
                                            <div class="text-right">
                                                <label class="switch switch-left-right">
                                                    @Html.CheckBoxFor(m => m.IsDisqualified, new { @id = "IsOpen", @class = "form-control switch-input" })
                                                    <span class="slider round">
                                                        <span class="on"><b>True</b></span><span class="off"><b>False</b></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>

                                        @*Note*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Note")
                                            @Html.TextAreaFor(m => m.Note, new { @id = "note", @class = "form-control text-capitalize", @placeholder = "Enter Note", @maxlength = 1500, @autocomplete = "off", onkeydown = "Maketranslation()", onkeyup = "ToTextCapitalize()" })
                                            @Html.ValidationMessageFor(m => m.Note)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*Hiddent Field For BoardOfDirectorPrmKey*@
                            @Html.HiddenFor(m => m.BoardOfDirectorPrmKey)

                            @*Footer*@
                            @Html.OperationFooter("Amend", "Exit", "Home", Model.Remark)
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>