@model DemoProject.Services.ViewModel.PersonInformation.Master.TalukaViewModel
@using DemoProject.Services.HtmlHelpers
@using DemoProject.Services.ViewModel.PersonInformation.Master
@using DemoProject.Services.ViewModel.Configuration

@{
    TalukaDetaiViewModel detaiViewModel = new TalukaDetaiViewModel();
    HeaderPartialModel headerPartialModel = new HeaderPartialModel("TALMDF");
}

<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Taluka - Modify</title>
</head>
<body>
    <div class="container-fluid">
        @*======= First Row - For Header =======*@
        <div class="row">
            <div class="offset-1 col-10">
                @Html.Partial("Header", headerPartialModel)
            </div>
        </div>

        @*======= Second Row - Data Entry Page =======*@
        <div class="row mt-3">
            <div class="offset-1 col-10">
                <div class="card mb-3">
                    @using (Html.BeginForm("Modify", "Taluka", FormMethod.Post, new { enctype ="multipart/form-data", id="form", autocomplete ="off" }))
                    {
                        @Html.AntiForgeryToken()
                        {
                            <div class="card-body">
                                @*======= First Row - Mandatory Mark =======*@
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <h6 class="mb-2 text-right text-muted"><b class="mandatory-mark">&nbsp; Mandatory Field</b></h6>
                                    </div>
                                </div>

                                @*======= Second Row - Page Title, Translation =======*@
                                <div class="row mt-2">
                                    @*Page Title*@
                                    <div class="col-12">
                                        <h5 class="font-weight-bold mt-1">Modify</h5>
                                        <hr />
                                    </div>
                                </div>

                                @*Submit Error*@
                                @Html.ValidationMessage("SubmitError")

                                @*======= Third Row - Data Entry Page =======*@
                                <div class="row">
                                    <div class="col-12" id="radio">
                                        @*CenterCategoryPrmKey*@
                                        <div class="form-group read-only">
                                            @Html.CustomLabel("Category")
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="mt-1 d-flex justify-content-between">
                                                        <div class="form-check form-check-inline">
                                                            @Html.RadioButtonFor(m => m.CenterCategoryPrmKey, "4", new { @id = "center-category-4", @name = "Taluka", @class = "center-category" })
                                                            <label for="center-category-4" class="form-check-label pl-2">Taluka</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            @Html.RadioButtonFor(m => m.CenterCategoryPrmKey, "5", new { @id = "center-category-5", @name = "SubDivision", @class = "center-category" })
                                                            <label for="center-category-5" class="form-check-label pl-2">SubDivision</label>
                                                        </div>
                                                    </div>
                                                    @Html.ValidationMessageFor(m => m.CenterCategoryPrmKey)
                                                </div>
                                            </div>
                                        </div>

                                        @*NameOfCenter*@
                                        <div class="form-group">
                                            <label class="font-weight-bold" id="center-name-taluka">Name Of Taluka</label>
                                            @Html.TextBoxFor(m => m.NameOfCenter, new { @id = "name-of-center-taluka", @class = "form-control mandatory-mark title-case", @placeholder = "Enter Name Of Taluka", required = "required", @maxlength = "100", onkeydown = "Maketranslation()" })
                                            @Html.ValidationMessageFor(m => m.NameOfCenter)
                                        </div>

                                        @*TransNameOfCenter*@
                                        <div class="form-group">
                                            <label class="font-weight-bold" id="trans-center-name-taluka">तालुक्याचे नाव</label>
                                            @Html.TextBoxFor(m => m.TransNameOfCenter, null, new { @id = "trans-name-of-center-taluka", @class = "form-control mandatory-mark", @placeholder = "तालुक्याचे नाव प्रविष्ट करा", required = "required", @maxlength = "100" })
                                            @Html.ValidationMessageFor(m => m.TransNameOfCenter)
                                        </div>

                                        @*AliasName*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Alias Name")
                                            @Html.TextBoxFor(m => m.AliasName, new { @id = "alias-name", @class = "form-control title-case", @placeholder = "Enter Alias Name", @maxlength = "10", onkeydown = "Maketranslation()" })
                                            @Html.ValidationMessageFor(m => m.AliasName)
                                        </div>

                                        @*TransAliasName*@
                                        <div class="form-group">
                                            @Html.CustomLabel(detaiViewModel.AliasNameInRegionalLanguage)
                                            @Html.TextBoxFor(m => m.TransAliasName, null, new { @id = "trans-alias-name", @class = "form-control", @placeholder = detaiViewModel.AliasNamePlaceHolderInRegionalLanguage, @maxlength = "10" })
                                            @Html.ValidationMessageFor(m => m.TransAliasName)
                                        </div>

                                        @*NameOnReport*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Name On Report ")
                                            @Html.TextBoxFor(m => m.NameOnReport, new { @id = "name-on-report", @class = "form-control title-case", @placeholder = "Enter Name On Report", @maxlength = "100", onkeydown = "Maketranslation()" })
                                            @Html.ValidationMessageFor(m => m.NameOnReport)
                                        </div>

                                        @*TransNameOnReport*@
                                        <div class="form-group">
                                            @Html.CustomLabel(detaiViewModel.NameOnReportInRegionalLanguage)
                                            @Html.TextBoxFor(m => m.TransNameOnReport, null, new { @id = "trans-name-on-report", @class = "form-control", @placeholder = detaiViewModel.NameOnReportPlaceHolderInRegionalLanguage, @maxlength = "100" })
                                            @Html.ValidationMessageFor(m => m.TransNameOnReport)
                                        </div>

                                        @*ParentCenterPrmKeyforSubDivisions*@
                                        <div id="sub-division-dropdown">
                                            <div class="form-group">
                                                <label class="font-weight-bold" id="sub-division">Name Of SubDivisions</label>
                                                @Html.DropDownListFor(m => m.ParentCenterSubDivisionOfficeId, new SelectList(detaiViewModel.SubDivisionOfficeDropdownList, "Value", "Text"), new { @class = "form-control mandatory-mark", required = "required" })
                                                @Html.ValidationMessageFor(m => m.ParentCenterSubDivisionOfficeId)
                                            </div>
                                        </div>

                                        @*ParentCenterPrmKeyForDistrict*@
                                        <div id="district-dropdown">
                                            <div class="form-group">
                                                <label class="font-weight-bold" id="district">Name Of Districts</label>
                                                @Html.DropDownListFor(m => m.ParentCenterDistrictId, new SelectList(detaiViewModel.DistrictDropdownList, "Value", "Text"), new { @class = "form-control mandatory-mark", required = "required" })
                                                @Html.ValidationMessageFor(m => m.ParentCenterDistrictId)
                                            </div>
                                        </div>

                                        @*ActivationDate*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Activation Date")
                                            @Html.TextBoxFor(m => m.ActivationDate, "{0:yyyy-MM-dd}", new { @id = "ActivationDate", @class = "form-control mandatory-mark ActivationDate", @placeholder = "Enter Activation Date", @Type = "date" })
                                            @Html.ValidationMessageFor(m => m.ActivationDate)
                                        </div>

                                        @*Note*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Note")
                                            @Html.TextAreaFor(m => m.Note, new { @id = "note", @class = "form-control title-case", @placeholder = "Enter Note", @maxlength = "1500", onkeydown = "Maketranslation()" })
                                            @Html.ValidationMessageFor(m => m.Note)
                                        </div>

                                        @*TransNote*@
                                        <div class="form-group">
                                            @Html.CustomLabel(detaiViewModel.NoteInRegionalLanguage)
                                            @Html.TextAreaFor(m => m.TransNote, new { @id = "trans-note", @class = "form-control", @placeholder = detaiViewModel.NotePlaceHolderInRegionalLanguage, @maxlength = "1500" })
                                            @Html.ValidationMessageFor(m => m.TransNote)
                                        </div>

                                        @*Hiddent Field For CenterPrmKey*@
                                        @Html.HiddenFor(m => m.CenterPrmKey)

                                        @*Hiddent Field For CenterModificationPrmKey*@
                                        @Html.HiddenFor(m => m.CenterModificationPrmKey)

                                        @*Hiddent Field For CenterTranslationPrmKey*@
                                        @Html.HiddenFor(m => m.CenterTranslationPrmKey)

                                        @*Hiddent Field For CenterISOCodePrmKey*@
                                        @Html.HiddenFor(m => m.CenterIsoCodeViewModel.CenterISOCodePrmKey)

                                    </div>
                                </div>

                                @*======= Fourth Row - Accordian =======*@
                                <div id="accordion" class="accordion md-accordion accordion-blocks">
                                    @*Accordian 1 - Center ISO Code*@
                                    <div class="row mt-3">
                                        <div class="col-12">
                                            <div class="card iso-info">
                                                <div class="card-header collapsed p-3" id="heading-center-iso-code" aria-expanded="true" data-toggle="collapse" href="#collapse-center-iso-code">
                                                    <a class="card-title">
                                                        <b>Center ISO Code</b>
                                                    </a>
                                                </div>
                                                <div id="collapse-center-iso-code" class="collapse" aria-labelledby="heading-center-iso-code" data-parent="#accordion">
                                                    <div class="card-body">
                                                        @*ISOAlphaNumericCode2*@
                                                        <div class="form-group">
                                                            @Html.CustomLabel("ISO AlphaNumeric Code2")
                                                            @Html.TextBoxFor(m => m.CenterIsoCodeViewModel.ISOAlphaNumericCode2, new { @class = "form-control text-uppercase", @placeholder = "Enter ISO AlphaNumeric Code", @maxlength = "2" })
                                                            @Html.ValidationMessageFor(m => m.CenterIsoCodeViewModel.ISOAlphaNumericCode2)
                                                        </div>

                                                        @*ISOAlphaNumericCode3*@
                                                        <div class="form-group">
                                                            @Html.CustomLabel("ISO AlphaNumeric Code3")
                                                            @Html.TextBoxFor(m => m.CenterIsoCodeViewModel.ISOAlphaNumericCode3, new { @class = "form-control text-uppercase", @placeholder = "Enter ISO AlphaNumeric Code", @maxlength = "3" })
                                                            @Html.ValidationMessageFor(m => m.CenterIsoCodeViewModel.ISOAlphaNumericCode3)
                                                        </div>

                                                        @*ISONumericCode*@
                                                        <div class="form-group">
                                                            @Html.CustomLabel("ISO Numeric Code")
                                                            @Html.TextBoxFor(m => m.CenterIsoCodeViewModel.ISONumericCode, new { @class = "form-control", @placeholder = "Enter ISO Numeric Code", @type = "number" })
                                                            @Html.ValidationMessageFor(m => m.CenterIsoCodeViewModel.ISONumericCode)
                                                        </div>

                                                        @*OtherCode*@
                                                        <div class="form-group">
                                                            @Html.CustomLabel("Other Code")
                                                            @Html.TextBoxFor(m => m.CenterIsoCodeViewModel.OtherCode, new { @class = "form-control title-case", @placeholder = "Enter Other Code", @maxlength = "20" })
                                                            @Html.ValidationMessageFor(m => m.CenterIsoCodeViewModel.OtherCode)
                                                        </div>

                                                        @*ReasonForModification*@
                                                        <div class="form-group">
                                                            @Html.CustomLabel("ReasonForModification")
                                                            @Html.TextAreaFor(m => m.CenterIsoCodeViewModel.ReasonForModification, new { @id = "reason-for-modification", @class = "form-control title-case", @placeholder = "Enter Reason For Modification", @maxlength = "1500" })
                                                            @Html.ValidationMessageFor(m => m.CenterIsoCodeViewModel.ReasonForModification)
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />

                                @*======= Fifth Row - ReasonForModification =======*@
                                @*ReasonForModification*@
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            @Html.CustomLabel("ReasonForModification")
                                            @Html.TextAreaFor(m => m.ReasonForModification, new { @id = "reason-for-modification", @class = "form-control title-case", @placeholder = "Enter Reason For Modification", @maxlength = "1500", onkeydown = "Maketranslation()" })
                                            @Html.ValidationMessageFor(m => m.ReasonForModification)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*Save/Submit Button*@
                            @Html.OperationFooter("Modify", "Exit", "Home", "None")
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <script>
        var url = "@Url.Action("GetUniqueCenterName", "Taluka")";
    </script>
    <script src="~/Scripts/Custom/Center.js"></script>

</body>
</html>