@model DemoProject.Services.ViewModel.Account.Parameter.SharesCapitalSchemeParameterViewModel
@using DemoProject.Services.HtmlHelpers
@using DemoProject.Services.ViewModel.Configuration
@using DemoProject.Services.ViewModel.Account.Parameter

@{
    HeaderPartialModel headerPartialModel = new HeaderPartialModel("SHCVET");
    SharesCapitalSchemeParameterViewModel viewModel = new SharesCapitalSchemeParameterViewModel();
}

<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <title>Shares Capital Scheme Parameter - View Entry</title>
</head>
<body>
    <div class="container-fluid">
        @*======= First Row - For Header =======*@
        <div class="row">
            <div class="offset-lg-1 col-10">
                @Html.Partial("Header", headerPartialModel)
            </div>
        </div>

        @*======= Second Row - Data Entry Page =======*@
        <div class="row mt-3">
            <div class="offset-1 col-10">
                <div class="card mb-3">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        {
                            <div class="card-body read-only">
                                @*======= First  Row - Mandatory Mark =======*@
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <h6 class="mb-2 text-right text-muted"><b class="mandatory-mark"> &nbsp; Mandatory Field</b></h6>
                                    </div>
                                </div>

                                @*======= Second Row - Page Title =======*@
                                <div class="row mt-2">
                                    @*Page Title If Screen Large Then Column - 12 Otherwise Col - 6 For Create And Remaining For Translation*@
                                    <div class="col-12">
                                        <h5 class="font-weight-bold mt-1">ViewEntry</h5>
                                        <hr />
                                    </div>
                                </div>

                                @*Submit Error*@
                                @Html.ValidationMessage("SubmitError")

                                @*======= Third Row - Data Entry Page =======*@
                                <div class="row">
                                    <div class="col-12">

                                        @*Effective Date*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Effective Date")
                                            @Html.TextBoxFor(m => m.EffectiveDate, "{0:yyyy-MM-dd}", new { @class = "form-control mandatory-mark back-denied-date" })
                                            @Html.ValidationMessageFor(m => m.EffectiveDate)
                                        </div>
                                        <br />

                                        @*EnableApplicationParameter*@
                                        <div class="row form-group">
                                            <div class="col-8">
                                                @Html.CustomLabel("Enable Application Parameter")
                                            </div>
                                            <div class="col-4">
                                                <div class="text-right">
                                                    <label class="switch switch-left-right">
                                                        @Html.CheckBoxFor(m => m.EnableApplicationParameter, new { @class = "form-control switch-input" })
                                                        <span class="slider round">
                                                            <span class="on"><b>True</b></span><span class="off"><b>False</b></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        @*EnableBusinessOfficeParameter - Visible Only If Organization Has Branches*@
                                        <div class="row form-group @(viewModel.NumberOfBranches == 0 ? "d-none" : "")">
                                            <div class="col-8">
                                                @Html.CustomLabel("Enable Branch Parameter")
                                            </div>
                                            <div class="col-4">
                                                <div class="text-right">
                                                    <label class="switch switch-left-right">
                                                        @Html.CheckBoxFor(m => m.EnableBusinessOfficeParameter, new { @class = "form-control switch-input" })
                                                        <span class="slider round">
                                                            <span class="on"><b>True</b></span><span class="off"><b>False</b></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        @*EnableOtherFundSubscriptionParameter*@
                                        <div class="row form-group">
                                            <div class="col-8">
                                                @Html.CustomLabel("Enable Other Fund Subscription Parameter")
                                            </div>
                                            <div class="col-4">
                                                <div class="text-right">
                                                    <label class="switch switch-left-right">
                                                        @Html.CheckBoxFor(m => m.EnableOtherFundSubscriptionParameter, new { @class = "form-control switch-input" })
                                                        <span class="slider round">
                                                            <span class="on"><b>True</b></span><span class="off"><b>False</b></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        @*EnableClosingChargeParameter*@
                                        <div class="row form-group">
                                            <div class="col-8">
                                                @Html.CustomLabel("Enable Closing Charges")
                                            </div>
                                            <div class="col-4">
                                                <div class="text-right">
                                                    <label class="switch switch-left-right">
                                                        @Html.CheckBoxFor(m => m.EnableClosingChargesParameter, new { @class = "form-control switch-input" })
                                                        <span class="slider round">
                                                            <span class="on"><b>True</b></span><span class="off"><b>False</b></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        @*EnableSharesTransferChargesParameter*@
                                        <div class="row form-group">
                                            <div class="col-8">
                                                @Html.CustomLabel("Enable Charges Detail")
                                            </div>
                                            <div class="col-4">
                                                <div class="text-right">
                                                    <label class="switch switch-left-right">
                                                        @Html.CheckBoxFor(m => m.EnableSharesTransferChargesParameter, new { @class = "form-control switch-input" })
                                                        <span class="slider round">
                                                            <span class="on"><b>True</b></span><span class="off"><b>False</b></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        @*EnableBankingChannelParameter Visible Only If Organization Has Core Banking Features*@
                                        <div class="row form-group @(viewModel.HasCoreBankingFeature ? "" : "d-none")">
                                            <div class="col-8">
                                                @Html.CustomLabel("Enable Banking Channel Parameter")
                                            </div>
                                            <div class="col-4">
                                                <div class="text-right">
                                                    <label class="switch switch-left-right">
                                                        @Html.CheckBoxFor(m => m.EnableBankingChannelParameter, new { @id = "enable-banking-channel-parameter", @class = "form-control switch-input" })
                                                        <span class="slider round">
                                                            <span class="on"><b>True</b></span><span class="off"><b>False</b></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        @*EnableSmsServiceParameter Visible Only If App Enable SMS Service Features*@
                                        <div class="row form-group @(viewModel.IsEnabledSmsService ? "" : "d-none")">
                                            <div class="col-8">
                                                @Html.CustomLabel("Enable Sms Service Parameter")
                                            </div>
                                            <div class="col-4">
                                                <div class="text-right">
                                                    <label class="switch switch-left-right">
                                                        @Html.CheckBoxFor(m => m.EnableSMSServiceParameter, new { @id = "enable-sms-service", @class = "form-control switch-input" })
                                                        <span class="slider round">
                                                            <span class="on"><b>True</b></span><span class="off"><b>False</b></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        @*EnableEmailServiceParameter Visible Only If App Enable Email Service Features*@
                                        <div class="row form-group @(viewModel.IsEnabledEmailService ? "" : "d-none")">
                                            <div class="col-8">
                                                @Html.CustomLabel("Enable Email Service Parameter")
                                            </div>
                                            <div class="col-4">
                                                <div class="text-right">
                                                    <label class="switch switch-left-right">
                                                        @Html.CheckBoxFor(m => m.EnableEmailServiceParameter, new { @id = "enable-email-service", @class = "form-control switch-input" })
                                                        <span class="slider round">
                                                            <span class="on"><b>True</b></span><span class="off"><b>False</b></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        @*EnableNoticeScheduleParameter Visible Only If App Enable Sms Or Email Service Features*@
                                        <div class="row form-group @(viewModel.IsEnabledSmsService || viewModel.IsEnabledEmailService ? "" : "d-none")">
                                            <div class="col-8">
                                                @Html.CustomLabel("Enable Notice Schedule Parameter")
                                            </div>
                                            <div class="col-4">
                                                <div class="text-right">
                                                    <label class="switch switch-left-right">
                                                        @Html.CheckBoxFor(m => m.EnableNoticeScheduleParameter, new { @id = "enable-notice-schedule", @class = "form-control switch-input" })
                                                        <span class="slider round">
                                                            <span class="on"><b>True</b></span><span class="off"><b>False</b></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        @*EnableReportFormatParameter*@
                                        <div class="row form-group">
                                            <div class="col-8">
                                                @Html.CustomLabel("Enable Report Format Parameter")
                                            </div>
                                            <div class="col-4">
                                                <div class="text-right">
                                                    <label class="switch switch-left-right">
                                                        @Html.CheckBoxFor(m => m.EnableReportFormatParameter, new { @class = "form-control switch-input" })
                                                        <span class="slider round">
                                                            <span class="on"><b>True</b></span><span class="off"><b>False</b></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        @*EnableTargetEstimationParameter*@
                                        <div class="row form-group">
                                            <div class="col-8">
                                                @Html.CustomLabel("Enable Target Esitmate Parameter")
                                            </div>
                                            <div class="col-4">
                                                <div class="text-right">
                                                    <label class="switch switch-left-right">
                                                        @Html.CheckBoxFor(m => m.EnableTargetEstimationParameter, new { @class = "form-control switch-input" })
                                                        <span class="slider round">
                                                            <span class="on"><b>True</b></span><span class="off"><b>False</b></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        @*EnableLimitParameter*@
                                        <div class="row form-group">
                                            <div class="col-8">
                                                @Html.CustomLabel("Enable Limit Parameter")
                                            </div>
                                            <div class="col-4">
                                                <div class="text-right">
                                                    <label class="switch switch-left-right">
                                                        @Html.CheckBoxFor(m => m.EnableLimitParameter, new { @class = "form-control switch-input" })
                                                        <span class="slider round">
                                                            <span class="on"><b>True</b></span><span class="off"><b>False</b></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        @*Note*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Note")
                                            @Html.TextAreaFor(m => m.Note, new { @id = "note", @class = "form-control mandatory-mark" })
                                            @Html.ValidationMessageFor(m => m.Note)
                                        </div>

                                        @*NameOfMaker*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Name Of User")
                                            @Html.TextBoxFor(m => m.NameOfUser, new { @class = "form-control" })
                                        </div>

                                        @*EntryDateTime*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Entry Date Time")
                                            @Html.TextBoxFor(m => m.EntryDateTime, new { @class = "form-control" })
                                        </div>

                                    </div>
                                </div>
                            </div>

                            @*Save/Submit Button*@
                            <div class="card-footer bg-white">
                                @*Remark*@
                                <div class="form-group">
                                    <label class="font-weight-bold">Remark</label>
                                    @Html.TextBoxFor(m => m.Remark, new { @class = "form-control" })
                                </div>

                                <div class="d-flex justify-content-center mb-2">
                                    <button type="button" class="btn btn-success ml-3" onclick="window.location.href='@Url.Action("Index","SharesCapitalSchemeParameter")'"><h5><u>BackToList</u></h5></button>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>
