@model DemoProject.Services.ViewModel.Account.Transaction.SharesApplicationViewModel
@using DemoProject.Services.HtmlHelpers
@using DemoProject.Services.ViewModel.Account.Transaction
@using DemoProject.Services.ViewModel.Configuration

@{
    SharesApplicationDetailViewModel sharesApplicationDetailViewModel = new SharesApplicationDetailViewModel();
    HeaderPartialModel headerPartialModel = new HeaderPartialModel("SHRVRF");
}

<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>SharesApplication - Verify</title>
</head>
<body>
    <div class="container-fluid">
        @*======= First Row - For Header =======*@
        <div class="row">
            <div class="offset-1 col-10">
                @Html.Partial("Header", headerPartialModel)
            </div>
        </div>

        @*======= Second Row - Data Entry Page =======*@
        <div class="row mt-3">
            <div class="offset-1 col-10">
                <div class="card mb-3">
                    @using (Html.BeginForm("Verify", "SharesApplication", FormMethod.Post, new { @id = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        {
                            <div class="card-body read-only">
                                @*======= First Row - Mandatory Mark =======*@
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <h6 class="mb-2 text-right text-muted"><b class="mandatory-mark">&nbsp; Mandatory Field</b></h6>
                                    </div>
                                </div>

                                @*======= Second Row - Page Title, Translation =======*@
                                <div class="row mt-2">
                                    @*Page Title*@
                                    <div class="col-12">
                                        <h5 class="font-weight-bold mt-1">Verify</h5>
                                        <hr />
                                    </div>
                                </div>

                                @*Submit Error*@
                                @Html.ValidationMessage("SubmitError")

                                @*======= Third Row - Data Entry Page =======*@

                                <div class="row">
                                    <div class="col-12">
                                        @*MakerRemark*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Maker Remark")
                                            @Html.TextBoxFor(m => m.MakerRemark, new { @class = "form-control read-only" })
                                            @Html.ValidationMessageFor(m => m.MakerRemark)
                                        </div>

                                        @*Business Office*@
                                        <div class="form-group">
                                            @Html.CustomLabel("BusinessOffice")
                                            @Html.DropDownListFor(m => m.SharesApplicationDetailViewModel.BusinessOfficeId, new SelectList(sharesApplicationDetailViewModel.BusinessOfficeDropdownList, "Value", "Text"), "Select Business Office", new { @class = "form-control mandatory-mark", required = "required" })
                                            @Html.ValidationMessageFor(m => m.SharesApplicationDetailViewModel.BusinessOfficeId)
                                        </div>

                                        @* Shares Capital Scheme *@
                                        <div class="form-group">
                                            @Html.CustomLabel("Scheme")
                                            @Html.DropDownListFor(m => m.SharesApplicationDetailViewModel.SchemeId, new SelectList(sharesApplicationDetailViewModel.SharesCapitalSchemeDropdownList, "Value", "Text"), "Select Scheme", new { @id = "scheme", @class = "form-control mandatory-mark", required = "required" })
                                            @Html.ValidationMessageFor(m => m.SharesApplicationDetailViewModel.SchemeId)
                                        </div>

                                        @*Member Type*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Member Type")
                                            @Html.DropDownListFor(m => m.SharesApplicationDetailViewModel.MemberTypeId, new SelectList(sharesApplicationDetailViewModel.MemberTypeDropdownList, "Value", "Text"), "Select MemberType", new { @id = "member-type", @class = "form-control mandatory-mark", required = "required" })
                                            @Html.ValidationMessageFor(m => m.SharesApplicationDetailViewModel.MemberTypeId)
                                        </div>

                                        @*Application AllotmentDate*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Application Allotment Date")
                                            @Html.TextBoxFor(m => m.ApplicationAllotmentDate, "{0:yyyy-MM-dd}", new { @id = "application-allotmentdate", @class = "form-control mandatory-mark"})
                                            @Html.ValidationMessageFor(m => m.ApplicationAllotmentDate)
                                        </div>

                                        @*Application SubmitDate*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Application Submit Date")
                                            @Html.TextBoxFor(m => m.ApplicationSubmitDate, "{0:yyyy-MM-dd}", new { @id = "application-submitdate", @class = "form-control mandatory-mark"})
                                            @Html.ValidationMessageFor(m => m.ApplicationSubmitDate)
                                        </div>

                                        @*Application Number*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Application Number")
                                            @Html.TextBoxFor(m => m.ApplicationNumber, new { @id = "application-number", @class = "form-control mandatory-mark", @placeholder = "Enter Application Number", required = "required", @maxlength = "50", @autocomplete = "off" })
                                            @Html.ValidationMessageFor(m => m.ApplicationNumber)
                                        </div>

                                        @*Applicant Person*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Person")
                                            @Html.DropDownListFor(m => m.SharesApplicationDetailViewModel.PersonId, new SelectList(sharesApplicationDetailViewModel.PersonDropdownList, "Value", "Text"), "Select Person", new { @class = "form-control mandatory-mark", required = "required" })
                                            @Html.ValidationMessageFor(m => m.SharesApplicationDetailViewModel.PersonId)
                                        </div>

                                        @*Other Society Membership*@
                                        <div class="row form-group mt-5">
                                            <div class="col-8">
                                                @Html.CustomLabel("Has Other Society Membership")
                                            </div>
                                            <div class="col-4">
                                                <div class="text-right">
                                                    <label class="switch switch-left-right">
                                                        @Html.CheckBoxFor(m => m.HasOtherSocietyMembership, new { @id = "has-other-society-membership", @class = "form-control switch-input" })
                                                        <span class="slider round">
                                                            <span class="on"><b>True</b></span><span class="off"><b>False</b></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        @*Transaction Type*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Transaction Type")
                                            @Html.DropDownListFor(m => m.SharesApplicationDetailViewModel.TransactionTypeId, new SelectList(sharesApplicationDetailViewModel.TransactionTypeDropdownList, "Value", "Text"), "Select Transaction Type", new { @id = "transaction-type", @class = "form-control mandatory-mark", required = "required" })
                                            @Html.ValidationMessageFor(m => m.SharesApplicationDetailViewModel.TransactionTypeId)
                                        </div>

                                        @* Bank Details Visibility Validation *@
                                        <div class="bank-details">
                                            @*Bank Details*@
                                            <div class="form-group">
                                                @Html.CustomLabel("Bank Details")
                                                @Html.TextBoxFor(m => m.BankDetails, new { @id = "bank-details", @class = "form-control", @placeholder = "Enter Bank Details", @maxlength = "500", @autocomplete = "off", onkeydown = "Maketranslation()", onkeyup = "ToTextCapitalize()" })
                                                @Html.ValidationMessageFor(m => m.BankDetails)
                                            </div>

                                            @*TransBankDetails*@
                                            <div class="form-group">
                                                @Html.CustomLabel(Model.BankDetailsInRegionalLanguage)
                                                @Html.TextAreaFor(m => m.TransBankDetails, new { @id = "trans-bank-details", @class = "form-control", @placeholder = Model.BankDetailsPlaceHolderInRegionalLanguage, @maxlength = "500", @autocomplete = "off" })
                                                @Html.ValidationMessageFor(m => m.TransBankDetails)
                                            </div>

                                            @*Shares Amount And Entry Fee, If Paid Along With The Application*@
                                            <div class="form-group">
                                                @Html.CustomLabel("Transaction Amount")
                                                @Html.TextBoxFor(m => m.TransactionAmount, new { @class = "form-control", @placeholder = "Enter Transaction Amount", @autocomplete = "off" })
                                                @Html.ValidationMessageFor(m => m.ApplicationNumber)
                                            </div>

                                            <div class="form-group">
                                                @Html.CustomLabel("Unique Transaction Number")
                                                @Html.TextBoxFor(m => m.UniqueTransactionNumber, new { @class = "form-control", @placeholder = "Enter Unique Transaction Number", @maxlength = "50", @autocomplete = "off" })
                                                @Html.ValidationMessageFor(m => m.UniqueTransactionNumber)
                                            </div>
                                        </div>

                                        @*Note*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Note")
                                            @Html.TextAreaFor(m => m.Note, new { @id = "note", @class = "form-control", @placeholder = "Enter Note", @maxlength = "1500", @autocomplete = "off", onkeydown = "Maketranslation()", onkeyup = "ToTextCapitalize()" })
                                            @Html.ValidationMessageFor(m => m.Note)
                                        </div>

                                        @*TransNote*@
                                        <div class="form-group">
                                            @Html.CustomLabel(Model.NoteInRegionalLanguage)
                                            @Html.TextAreaFor(m => m.TransNote, new { @id = "trans-note", @class = "form-control default-none", @placeholder = Model.NotePlaceHolderInRegionalLanguage, @maxlength = "1500", @autocomplete = "off" })
                                            @Html.ValidationMessageFor(m => m.TransNote)
                                        </div>

                                        @*Hiddent Field For SharesApplicationPrmKey*@
                                        @Html.HiddenFor(m => m.SharesApplicationPrmKey)

                                        @*Hiddent Field For SharesApplicationDetailPrmKey*@
                                        @Html.HiddenFor(m => m.SharesApplicationDetailViewModel.SharesApplicationDetailPrmKey)

                                        @*Hiddent Field For SharesApplicationModificationPrmKey*@
                                        @Html.HiddenFor(m => m.SharesApplicationModificationPrmKey)

                                        @*Hiddent Field For DesignationTranslationPrmKey*@
                                        @Html.HiddenFor(m => m.SharesApplicationTranslationPrmKey)
                                    </div>
                                </div>
                            </div>

                            @*Save/Submit Button*@
                            @Html.OperationFooter("Verify", "Verify", "SharesApplication", "None")
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>
