@model DemoProject.Services.ViewModel.Security.Users.MFAViewModel
@using DemoProject.Services.HtmlHelpers
@{
    Layout = null;
}

<!doctype html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/css/icon.css" rel="stylesheet" />


    <title>Account Recovery Via Mobile OTP</title>
    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        section {
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(to bottom, #f1f4f9 #dff1ff );
        }

            section .color {
                position: absolute;
                filter: blur(150px);
            }

                section .color:nth-child(1) {
                    top: 120px;
                    width: 1000px;
                    height: 200px;
                    background: #ff00dc;
                }

                section .color:nth-child(2) {
                    top: 250px;
                    bottom: -50px;
                    left: 450px;
                    width: 500px;
                    height: 400px;
                    background: #ffd800;
                }

                section .color:nth-child(3) {
                    top: 300px;
                    bottom: 50px;
                    left: 550px;
                    width: 300px;
                    height: 300px;
                    background: #0084f0;
                }

        .box {
            position: relative;
        }

            .box .square {
                position: absolute;
                background: rgba(255, 255, 255, 0.1);
                backdrop-filter: blur(5px);
                box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
                border: 1px solid rgba(255, 255, 255, 0.15);
                border-radius: 15px;
                animation: square 10s linear infinite;
                animation-delay: calc(-1s * var(--i));
            }

        @@keyframes square {
            0%, 100% {
                transform: translateY(-20px);
            }

            50% {
                transform: translateY(20px);
            }
        }

        .box .square:nth-child(1) {
            width: 100px;
            height: 100px;
            top: -15px;
            right: -45px;
        }

        .box .square:nth-child(2) {
            width: 150px;
            height: 150px;
            top: 105px;
            left: -180px;
            z-index: 2;
        }

        .box .square:nth-child(3) {
            width: 60px;
            height: 60px;
            bottom: 85px;
            right: -45px;
            z-index: 2;
        }

        .box .square:nth-child(4) {
            width: 50px;
            height: 50px;
            bottom: 35px;
            left: -95px;
        }

        .box .square:nth-child(5) {
            width: 50px;
            height: 50px;
            top: -15px;
            left: -25px;
        }

        .box .square:nth-child(6) {
            width: 85px;
            height: 85px;
            top: 165px;
            right: -155px;
            z-index: 2;
        }

        .card {
            position: relative;
            justify-content: center;
            align-items: center;
            background: white;
            width: 400px;
            min-height: 400px;
            margin-top: 10px;
            box-shadow: 0px 25px 45px rgba(0,0,0,0.1);
            border: 2px solid rgba(255,255,255,0.5);
            border-right: 2px solid rgba(255,255,255,0.2);
            border-bottom: 2px solid rgba(255,255,255,0.2);
            border-radius: 20px;
            display: flex;
            color: white;
            margin-left: -150px;
        }

        .form {
            position: relative;
            width: 100%;
            height: 100%;
            padding: 40px;
        }

            .form h2 {
                position: relative;
                font-size: 20px;
                /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
                font-weight: 800;
                color: #fff;
                margin-bottom: 40px;
            }

                .form h2 ::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -10px;
                    width: 80px;
                    height: 4px;
                    background: rgb(255, 255, 255);
                }

            .form .inputbox {
                width: 100%;
                margin-top: 10px;
            }

                .form .inputbox input {
                    color: #495057;
                    background-color: #fff;
                    border-color: rgba(0, 0, 0, 0.2);
                    outline: 0;
                    box-shadow: none;
                    border-radius: 35px;
                }

                    .form .inputbox input::placeholder {
                        color: white;
                    }

            .form .submit input {
                width: 200px;
                height: 45px;
                margin-top: 10px;
                font-size: 10px;
                background: rgb(255, 255, 255);
                border: none;
                outline: none;
                border: 1px solid rgba(255,255,255,0.5);
                border-right: 1px solid rgba(255,255,255,0.2);
                border-bottom: 1px solid rgba(255,255,255,0.2);
                border-radius: 30px;
                margin-left: 0px;
                color: rgb(0, 0, 0);
                box-shadow: 1px 2px 3px 3px rgba(0, 0, 0, 0.329);
            }


            .form p {
                margin-top: 10px;
                letter-spacing: 0;
                color: rgb(0, 0, 0);
            }

        .progress {
            position: relative;
            margin-left: -23%;
            width: 150%;
        }

        .form #close {
            z-index: 100;
            cursor: pointer;
            position: absolute;
            margin-left: 65%;
        }

        button {
            width: 310px;
            height: 40px;
            display: block;
            font-size: 16px;
            font-weight: bold;
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            text-shadow: 1px 1px 0px #07526e;
            padding-top: 6px;
            margin-left: auto;
            margin-right: auto;
            right: 5px;
            position: relative;
            cursor: pointer;
            border: none;
            background: #0084f0;
            background-image: linear-gradient(-90deg, #ffd800 0%, #49a1c2 47%, #9b3c8e 100%);
            transition: 0.5s;
            border-radius: 5px;
            box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #07526e, 0px 5px 10px #999;
        }

        .mobile-text {
            color: #37322e;
            font-size: 15px;
        }

        .mypro {
            width: 147%;
        }
    </style>
</head>

<body id="background">


    @*Center Of Page*@
    <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
        <div class="row heightresponsive">

        </div>

        @*Second Row For User Profile Photo*@
        <div class="row d-none">
            <div class="col-12 col-sm-10 offset-sm-1 col-lg-6 offset-lg-4">

                <div>
                    <button type="button" class="btn btn-link sans-serif-family float-right" id="way" style="margin-top:-10%;">Try Another Way?</button>
                </div>
            </div>
        </div>

        @*Third Row For Clear User Login Session Page*@
        <section>
            <div class="color"></div>
            <div class="color"></div>
            <div class="color"></div>
            <div class="box mt-5 ml-5">
                <div class="row">
                    <div class="offset-2 col-8">
                        <div class="row pt-0 pt-lg-2 pb-lg-2" id="login">
                            <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
                                <div class="card">
                                    <div class="form mt-3">
                                        @*<h4 class="card-title text-center text-dark">MFA</h4>*@
                                        <h4 class="card-title text-center text-dark">Multi Factor Authentication Using Tokens</h4>
                                        @using (Html.BeginForm("ResetPasswordViaToken", "Account", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()
                                            {
                                                // Mobile Image
                                                <div class="inputbox text-center ">
                                                    <img src="~/Icons/Otp.gif" alt="Mobile Notification Image" class="bg-transparent" style="width:25%" />
                                                </div>
                                                @Html.ValidationMessage("InvalidAttempt", new { @class = "text-danger" })
                                                <div class="inputbox">
                                                    @CustomHtmlHelper.Token((string)TempData["DeliveryChannel"], (string)TempData["RegisteredEmailId"], (string)TempData["RegisteredMobileNumber"], (string)TempData["smsResponseResult"]);
                                                </div>
                                                @Html.ValidationMessage("InvalidToken", new { @class = "text-danger" })
                                                <div class="form-group inputBx ">
                                                    <button type="submit" class="btn btn-sm btn-block btn-light rounded text-white" name="Command" value="ClearRecentSession"><h6 class="mt-1 pb-0">Reset To 1</h6></button>
                                                </div>
                                                <span class="d-block mobile-text mt-3 text-center">Didn't receive the code?</span>

                                            }
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
        //Document Ready Function For Try another way link
        function show() {
            $('#eye').find("i").toggleClass("fa-eye fa-eye-slash");
        }
        $(document).ready(function ()
        {

            $(".link").fadeOut('slow').delay(30000).fadeIn("slow");

            // Resend Link
            $("#close").click(function ()
            {
                $(".link").fadeOut('slow').delay(30000).fadeIn('slow');
                $("#myToast").toast('show');
            });

        });

        function ResendSMS()
        {
            $.ajax(
            {
                url: '@Url.Action("ReSendUserAuthenticationToken", "SMS")',
                type: "GET",
                dataType:"JSON",
                success: function (data)
                {
                    if (data == "Success")
                    {
                        //location.reload();
                    }
                },
                error: function ()
                {
                    //alert("An error has occured!!!");
                }
            });
        }
    </script>
</body>
</html>





