@model IEnumerable<DemoProject.Services.ViewModel.Enterprise.Office.BusinessOfficeViewModel>
@using DemoProject.Services.HtmlHelpers
@using DemoProject.Services.ViewModel.Configuration

@{
    HeaderPartialModel headerPartialModel = new HeaderPartialModel("BUOUVI");
}

<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <title>BusinessOffice - UnAuthorized List</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                @Html.Partial("Header", headerPartialModel)
            </div>
        </div>
        <br />

        <div class="card">
            <div class="card-body no-footer">
                <table id="example" class="display table table-striped table-hover dt-responsive nowrap cell-border">
                    <thead>
                        <tr>
                            <th>SR.</th>
                            <th>Name Of Business Office</th>
                            <th>Entry Date</th>
                            <th>User Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model)
                            {
                                <tr class="hoverlightblue">
                                    <td></td>
                                    <td>@item.NameOfBusinessOffice</td>
                                    <td>@item.EntryDateTime</td>
                                    <td>@item.NameOfUser</td>
                                    <td>
                                        <button class="btn btn-link" onclick="location.href='@Url.Action("Verify","BusinessOfficeCoopRegistration",new {@item.BusinessOfficeId })'">Verify </button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

            @Html.OperationFooter("None", "Exit", "Home", "None")
        </div>
    </div>
</body>
</html>

