@model DemoProject.Services.ViewModel.Enterprise.Office.BusinessOfficeCoopRegistrationViewModel
@using DemoProject.Services.HtmlHelpers
@using DemoProject.Services.ViewModel.Enterprise.Office
@using DemoProject.Services.ViewModel.Configuration

@{
    OfficeDetailViewModel officeDetailViewModel = new OfficeDetailViewModel();
    HeaderPartialModel headerPartialModel = new HeaderPartialModel("BUOAUT");
}

<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />

    <title>Verify</title>
</head>
<body>
    <div class="container-fluid">
        @*======= First Row - For Header =======*@
        <div class="row">
            <div class="col-12">
                @Html.Partial("Header", headerPartialModel)
            </div>
        </div>

        @*======= Second Row - Data Entry Page =======*@
        <div class="row mt-3">
            <div class="col-12">
                <div class="card d-block mb-3">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        {
                            <div class="card-body">

                                @*======= First Row - Mandatory Mark =======*@
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <h6 class="mb-2 text-right text-muted"><b class="mandatory-mark">&nbsp; Mandatory Field</b></h6>
                                    </div>
                                </div>

                                @*======= Second Row - Page Title, Translation =======*@

                                <div class="row mt-2">
                                    @*Page Title*@
                                    <div class="col-6">
                                        <h5 class="font-weight-bold mt-1">Verify</h5>
                                        <hr />
                                    </div>

                                    @*Page Title Translation For Large Screen*@
                                    <div class="col-6">
                                        <div class="d-none d-lg-block">
                                            <h5 class="mt-1"><b>Translation : @HttpContext.Current.Session["RegionalLanguage"]</b></h5>
                                            <hr />
                                        </div>
                                    </div>
                                </div>

                                @*Submit Error*@
                                @Html.ValidationMessage("SubmitError")

                                @*======= Third Row - Data Entry Page =======*@
                                @*Two Columns For Default Application Language (i.e. English) And Other For Regional Language Translation With Equal Length*@
                                <div class="row">
                                    <div class="col-lg-6">
                                        @*CoopApprovalDate*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Coop Approval Date")
                                            @Html.TextBoxFor(m => m.ApprovalDate, "{0:yyyy-MM-dd}", new { @class = "form-control mandatory-mark", required = "required" })
                                            @Html.ValidationMessageFor(m => m.ApprovalDate)
                                        </div>

                                        @*CoopRegistrationDate*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Coop Registration Date")
                                            @Html.TextBoxFor(m => m.RegistrationDate, "{0:yyyy-MM-dd}", new { @class = "form-control mandatory-mark", required = "required" })
                                            @Html.ValidationMessageFor(m => m.RegistrationDate)
                                        </div>

                                        @*CoopRegistrationNumber*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Coop Registration Number")
                                            @Html.TextBoxFor(m => m.RegistrationNumber, new { @id = "coop-registration-number", @class = "form-control mandatory-mark", @autocomplete = "off", @maxlength = "50", required = "required", @placeholder = "Enter Registration Number", onkeydown = "Maketranslation()" })
                                            @Html.ValidationMessageFor(m => m.RegistrationNumber)
                                        </div>

                                        @*CoopReferenceNumber*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Coop Reference Number")
                                            @Html.TextBoxFor(m => m.ReferenceNumber, new { @id = "coop-reference-number", @class = "form-control mandatory-mark", @autocomplete = "off", @maxlength = "50", required = "required", @placeholder = "Enter Reference Number", onkeydown = "Maketranslation()" })
                                            @Html.ValidationMessageFor(m => m.ReferenceNumber)
                                        </div>

                                        @*CoopNumericCode*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Coop NumericCode Number")
                                            @Html.TextBoxFor(m => m.NumericCode, new { @class = "form-control", @autocomplete = "off", @placeholder = "Enter Numeric Code ", onkeydown = "Maketranslation()" })
                                            @Html.ValidationMessageFor(m => m.NumericCode)
                                        </div>

                                        @*CoopAlphaNumericCode*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Coop AlphaNumeric Code")
                                            @Html.TextBoxFor(m => m.AlphaNumericCode, new { @id = "coop-alphaNumeric-code", @class = "form-control", @autocomplete = "off", @maxlength = "20", @placeholder = "Enter Coop Alpha Numeric Code ", onkeydown = "Maketranslation()" })
                                            @Html.ValidationMessageFor(m => m.AlphaNumericCode)
                                        </div>

                                        @*Note*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Note")
                                            @Html.TextAreaFor(m => m.Note, new { @id = "note", @class = "form-control", @autocomplete = "off", @maxlength = "1500", @placeholder = "Enter Note", onkeydown = "Maketranslation()" })
                                            @Html.ValidationMessageFor(m => m.Note)
                                        </div>
                                    </div>

                                    @*Second Column - Translation In Regional Language*@
                                    <div class="col-lg-6 d-block">
                                        @*Display On Only Small Screen And Hide On Large Or Extra Large Screen*@
                                        <div class="card bg-darkgray text-white d-block d-lg-none">
                                            <h5 class="mt-1"><b>Translation : @HttpContext.Current.Session["RegionalLanguage"]</b></h5>
                                            <hr class="bg-white" />
                                        </div>

                                        @*TransCoopRegistrationNumber*@
                                        <div class="form-group">
                                            @Html.CustomLabel(officeDetailViewModel.RegistrationNumberInRegionalLanguage)
                                            @Html.TextBoxFor(m => m.TransRegistrationNumber, new { @id = "trans-coop-registration-number", @class = "form-control mandatory-mark", @autocomplete = "off", @placeholder = officeDetailViewModel.RegistrationNumberPlaceHolderInRegionalLanguage, onkeydown = "Maketranslation()", required = "required" })
                                            @Html.ValidationMessageFor(m => m.TransRegistrationNumber)
                                        </div>

                                        @*TransCoopReferenceNumber*@
                                        <div class="form-group">
                                            @Html.CustomLabel(officeDetailViewModel.ReferenceNumberInRegionalLanguage)
                                            @Html.TextBoxFor(m => m.TransReferenceNumber, new { @id = "trans-coop-reference-number", @class = "form-control mandatory-mark", @autocomplete = "off", @placeholder = officeDetailViewModel.ReferenceNumberPlaceHolderInRegionalLanguage, onkeydown = "Maketranslation()", required = "required" })
                                            @Html.ValidationMessageFor(m => m.TransReferenceNumber)
                                        </div>

                                        @*TransCoopAlphaNumericCode*@
                                        <div class="form-group">
                                            @Html.CustomLabel(officeDetailViewModel.CoopAlphaNumericCodeInRegionalLanguage)
                                            @Html.TextBoxFor(m => m.TransAlphaNumericCode, new { @id = "trans-coop-alphaNumeric-code", @class = "form-control", @autocomplete = "off", @maxlength = "50", @placeholder = officeDetailViewModel.CoopAlphaNumericCodePlaceHolderInRegionalLanguage, onkeydown = "Maketranslation()" })
                                            @Html.ValidationMessageFor(m => m.TransAlphaNumericCode)
                                        </div>

                                        @*TransNote*@
                                        <div class="form-group">
                                            @Html.CustomLabel(officeDetailViewModel.NoteInRegionalLanguage)
                                            @Html.TextAreaFor(m => m.TransNote, new { @Id = "trans-note", @class = "form-control default-none", @autocomplete = "off", @placeholder = officeDetailViewModel.NotePlaceHolderInRegionalLanguage })
                                            @Html.ValidationMessageFor(m => m.TransNote)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*Hiddent Field For PrmKey*@
                            @Html.HiddenFor(m => m.PrmKey)

                            @*Hiddent Field For BusinessOfficeCoopRegistrationPrmKey*@
                            @Html.HiddenFor(m => m.BusinessOfficeCoopRegistrationPrmKey)

                            @*Hiddent Field For BusinessOfficeCoopRegistrationTranslationPrmKey*@
                            @Html.HiddenFor(m => m.BusinessOfficeCoopRegistrationTranslationPrmKey)

                            @*Hiddent Field For BusinessOfficePrmKey*@
                            @Html.HiddenFor(m => m.BusinessOfficePrmKey)

                            //Save/Submit Button
                            @Html.OperationFooter("Verify", "Exit", "Home", Model.Remark)
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>
