@model DemoProject.Services.ViewModel.Enterprise.Establishment.OrganizationFundViewModel
@using DemoProject.Services.HtmlHelpers
@using DemoProject.Services.ViewModel.Enterprise.Establishment
@using DemoProject.Services.ViewModel.Configuration

@{

    OrganizationDetailViewModel organizationDetailViewModel = new OrganizationDetailViewModel();
    HeaderPartialModel headerPartialModel = new HeaderPartialModel("OFDMDF");
}

<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>OrganizationFund - Amend</title>
</head>
<body>
    <div class="container-fluid">
        @*======= First Row - For Header =======*@
        <div class="row">
            <div class="offset-1 col-10">
                @Html.Partial("Header", headerPartialModel)
            </div>
        </div>

        @*======= Second Row - Data Entry Page =======*@
        <div class="row mt-3">
            <div class="offset-1 col-10">
                <div class="card mb-3">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        {
                            <div class="card-body">
                                @*======= First  Row - Mandatory Mark =======*@
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <h6 class="mb-2 text-right text-muted"><b class="mandatory-mark"> &nbsp; Mandatory Field</b></h6>
                                    </div>
                                </div>

                                @*======= Second Row - =======*@
                                <div class="row mt-2">
                                    @*Page Title*@
                                    <div class="col-12">
                                        <h5 class="font-weight-bold mt-1">Amend</h5>
                                        <hr />
                                    </div>
                                </div>

                                @*Submit Error*@
                                @Html.ValidationMessage("SubmitError")

                                @*======= Third Row - Data Entry Page =======*@
                                <div class="row">
                                    <div class="col-12">

                                        @*CheckerRemark*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Checker Remark")
                                            @Html.TextBoxFor(m => m.CheckerRemark, new { @class = "form-control mandatory-mark read-only"})
                                            @Html.ValidationMessageFor(m => m.CheckerRemark)
                                        </div>

                                        <div class="modal fade" id="add-fund" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="modal-new-event" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-dialog-zoom " role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">

                                                        <h4 class="modal-title  text-center" id="fund-text">Add</h4>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">

                                                        @*Fund*@
                                                        <div class="form-group">
                                                            @Html.CustomLabel("FundCategory")
                                                            <div>
                                                                @Html.DropDownListFor(m => m.FundId, new SelectList(organizationDetailViewModel.FundDropdownList, "Value", "Text", 0), "Select Organization Fund", new { @id = "fund-id", @class = "form-control mandatory-mark" })
                                                                @Html.ValidationMessageFor(m => m.FundId)
                                                            </div>
                                                        </div>

                                                        @*SequenceNumber*@
                                                        <div class="form-group">
                                                            @Html.CustomLabel("SequenceNumber")
                                                            <div>
                                                                @Html.TextBoxFor(m => m.SequenceNumber, new { @id = "sequence-number", @class = "form-control mandatory-mark", @placeholder = "Enter Sequence Number", @type = "number", @min = 1, @max = 255, @autocomplete = "off" })
                                                                @Html.ValidationMessageFor(m => m.SequenceNumber)
                                                            </div>
                                                        </div>

                                                        @*SequenceNumberText*@
                                                        <div class="form-group">
                                                            @Html.CustomLabel("SequenceNumberText")
                                                            <div>
                                                                @Html.TextBoxFor(m => m.SequenceNumberText, new { @id = "sequence-number-text", @class = "form-control mandatory-mark", @placeholder = "Enter SequenceNumber Text", @maxlength = "50", @autocomplete = "off", onkeydown = "Maketranslation()", onkeyup = "ToTextCapitalize()" })
                                                                @Html.ValidationMessageFor(m => m.SequenceNumberText)
                                                            </div>
                                                        </div>

                                                        @*TransSequenceNumberText*@
                                                        <div class="form-group">
                                                            @Html.CustomLabel(organizationDetailViewModel.SequenceNumberTextInRegionalLanguage)
                                                            @Html.TextBoxFor(m => m.TransSequenceNumberText, new { @Id = "trans-sequence-number-text", @class = "form-control", @placeholder = organizationDetailViewModel.SequenceNumberTextPlaceHolderInRegionalLanguage, @autocomplete = "off" })
                                                            @Html.ValidationMessageFor(m => m.TransSequenceNumberText)
                                                        </div>

                                                        @*ActivationDate*@
                                                        <div class="form-group">
                                                            @Html.CustomLabel("Activation Date")
                                                            @Html.TextBoxFor(m => m.ActivationDate, "{0:yyyy-MM-dd}", new { @id = "activation-date", @class = "form-control mandatory-mark ActivationDate", @placeholder = "Enter Activation Date", @type = "date" })
                                                            @Html.ValidationMessageFor(m => m.ActivationDate)
                                                        </div>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" id="btn-add-fund" class="btn btn-success ">Add</button>
                                                        <button type="button" id="btn-update-fund" class="btn btn-primary ">Update</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card-body">
                                            <table id="organization-fund-table" class="table compact table-striped table-bordered " width="100">
                                                <thead class="text-center">
                                                    <tr>
                                                        <th><input type="checkbox" name="check_all" id="select-all-fund" /></th>
                                                        <th class="d-none">FundId</th>
                                                        <th>FundCategory</th>
                                                        <th>SequenceNumber</th>
                                                        <th>SequenceNumberText</th>
                                                        <th>TransSequenceNumberText</th>
                                                        <th>ActivationDate</th>
                                                    </tr>
                                                </thead>

                                                <tbody class="text-center">
                                                    @{
                                                        IEnumerable<OrganizationFundViewModel> fundViewModelList = (IEnumerable<OrganizationFundViewModel>)HttpContext.Current.Session["OrganizationFund"];

                                                        foreach (OrganizationFundViewModel viewModel in fundViewModelList)
                                                        {
                                                            <tr>
                                                                <td><input type="checkbox" name="check_all" class="checks" /></td>
                                                                <td class="d-none">@viewModel.FundId</td>
                                                                <td>@viewModel.NameOfFund</td>
                                                                <td>@viewModel.SequenceNumber</td>
                                                                <td>@viewModel.SequenceNumberText</td>
                                                                <td>@viewModel.TransSequenceNumberText</td>
                                                                <td>@viewModel.ActivationDate</td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>

                                        @*Note*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Note")
                                            @Html.TextAreaFor(m => m.Note, new { @id = "note", @class = "form-control", @placeholder = "Enter Note", @maxlength = "1500", @autocomplete = "off", onkeydown = "Maketranslation()" })
                                            @Html.ValidationMessageFor(m => m.Note)
                                        </div>

                                        @*TransNote*@
                                        <div class="form-group">
                                            @Html.CustomLabel(organizationDetailViewModel.NoteInRegionalLanguage)
                                            @Html.TextAreaFor(m => m.TransNote, new { @id = "trans-note", @class = "form-control default-none", @placeholder = organizationDetailViewModel.NotePlaceHolderInRegionalLanguage, @maxlength = "4000", @autocomplete = "off", onkeydown = "Maketranslation()" })
                                            @Html.ValidationMessageFor(m => m.TransNote)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*Hiddent Field For OrganizationFundPrmKey*@
                            @Html.HiddenFor(m => m.OrganizationFundPrmKey)

                            @*Hiddent Field For OrganizationFundTranslationPrmKey*@
                            @Html.HiddenFor(m => m.OrganizationFundTranslationPrmKey)

                            @Html.OperationFooter("Amend", "SaveDataTables", "OrganizationFund", Model.Remark)
                        }
                    }
                </div>
            </div>
        </div>
    </div>

    <script>
    var url = "@Url.Action("SaveDataTables", "OrganizationFund")";
    </script>
    <script src="~/Scripts/Custom/OrganizationFund.js"></script>
</body>
</html>
