@model IEnumerable<DemoProject.Services.ViewModel.Management.Servant.EmployeeIndexViewModel>
@using DemoProject.Services.ViewModel.Configuration
@using DemoProject.Services.HtmlHelpers

@{
    HeaderPartialModel headerPartialModel = new HeaderPartialModel("EMPMVM");
}

<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <title>Employee - Index For Modification</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("Header", headerPartialModel)
            </div>
        </div>
        <br />

        <div class="card">
            <div class="card-body no-footer">

                <table id="example" class="display table table-striped table-hover dt-responsive nowrap cell-border">
                    <thead>
                        <tr>
                            <th>SR.</th>
                            <th>Employee Code</th>
                            <th>Entry Date</th>
                            <th>User Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model)
                            {
                                <tr class="hoverlightblue">
                                    <td></td>
                                    <td>@item.EmployeeCode</td>
                                    <td>@item.EntryDateTime</td>
                                    <td>@item.NameOfUser</td>
                                    <td>
                                        <button class="btn btn-link" onclick="location.href='@Url.Action("ViewEntry","Employee",new {@item.EmployeeId })'">ViewEntry</button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            @Html.OperationFooter("None", "Exit", "Home", "None")
        </div>
    </div>
</body>
</html>

