@model DemoProject.Services.ViewModel.Management.Master.DepartmentViewModel
@using DemoProject.Services.ViewModel.Master.General
@using DemoProject.Services.ViewModel.Configuration
@using DemoProject.Services.HtmlHelpers

@{
    DepartmentDetailViewModel detailViewModel = new DepartmentDetailViewModel();
    HeaderPartialModel headerPartialModel = new HeaderPartialModel("DEPVRF");
}

<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Department - Verify</title>
</head>
<body>
    <div class="container-fluid">
        @*======= First Row - For Header =======*@
        <div class="row">
            <div class="offset-1 col-10">
                @Html.Partial("Header", headerPartialModel)
            </div>
        </div>

        @*======= Second Row - Data Entry Page =======*@
        <div class="row mt-3">
            <div class="offset-1 col-10">
                <div class="card mb-3">
                    @using (Html.BeginForm("Verify", "Department", FormMethod.Post, new { enctype = "multipart/form-data", id = "form", autocomplete = "off" } ))
                    {
                        @Html.AntiForgeryToken()
                        {
                            <div class="card-body">
                                @*======= First Row - Mandatory Mark =======*@
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <h6 class="mb-2 text-right text-muted"><b class="mandatory-mark">&nbsp; Mandatory Field</b></h6>
                                    </div>
                                </div>

                                @*======= Second Row - Page Title, Translation =======*@
                                <div class="row mt-2">
                                    @*Page Title*@
                                    <div class="col-12">
                                        <h5 class="font-weight-bold mt-1">Verify</h5>
                                        <hr />
                                    </div>
                                </div>

                                @*Submit Error*@
                                @Html.ValidationMessage("SubmitError")

                                @*======= Third Row - Data Entry Page =======*@
                                <div class="row read-only">
                                    <div class="col-12">
                                        @*MakerRemark*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Maker Remark")
                                            @Html.TextBoxFor(m => m.MakerRemark, new { @class = "form-control read-only" })
                                            @Html.ValidationMessageFor(m => m.MakerRemark)
                                        </div>

                                        @*NameOfDepartment*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Name Of Department")
                                            @Html.TextBoxFor(m => m.NameOfDepartment, new { @id = "name-of-department", @class = "form-control mandatory-mark" })
                                            @Html.ValidationMessageFor(m => m.NameOfDepartment)
                                        </div>

                                        @*TransNameOfDepartment*@
                                        <div class="form-group">
                                            @Html.CustomLabel(detailViewModel.NameOfDepartmentInRegionalLanguage)
                                            @Html.TextBoxFor(m => m.TransNameOfDepartment, new { @id = "trans-name-of-department", @class = "form-control mandatory-mark" })
                                            @Html.ValidationMessageFor(m => m.TransNameOfDepartment)
                                        </div>

                                        @*AliasName*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Alias Name")
                                            @Html.TextBoxFor(m => m.AliasName, new { @id = "alias-name", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.AliasName)
                                        </div>

                                        @*TransAliasName*@
                                        <div class="form-group">
                                            @Html.CustomLabel(detailViewModel.AliasNameInRegionalLanguage)
                                            @Html.TextBoxFor(m => m.TransAliasName, new { @id = "trans-alias-name", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.TransAliasName)
                                        </div>

                                        @*NameOnReport*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Name On Report")
                                            @Html.TextBoxFor(m => m.NameOnReport, new { @id = "name-on-report", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.NameOnReport)
                                        </div>

                                        @*TransNameOnReport*@
                                        <div class="form-group">
                                            @Html.CustomLabel(detailViewModel.NameOnReportInRegionalLanguage)
                                            @Html.TextBoxFor(m => m.TransNameOnReport, new { @id = "trans-name-on-report", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.TransNameOnReport)
                                        </div>

                                        @*Objective*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Objective")
                                            @Html.TextBoxFor(m => m.Objective, new { @id = "objective", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Objective)
                                        </div>

                                        @*TransObjective*@
                                        <div class="form-group">
                                            @Html.CustomLabel(detailViewModel.ObjectiveInRegionalLanguage)
                                            @Html.TextBoxFor(m => m.TransObjective, new { @id = "trans-objective", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.TransObjective)
                                        </div>

                                        @*ActivationDate*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Activation Date")
                                            @Html.TextBoxFor(m => m.ActivationDate, "{0:yyyy-MM-dd}", new { @id = "activation-date", @class = "form-control mandatory-mark" })
                                            @Html.ValidationMessageFor(m => m.ActivationDate)
                                        </div>

                                        @*ExpiryDate*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Expiry Date")
                                            @Html.TextBoxFor(m => m.ExpiryDate, "{0:yyyy-MM-dd}", new { @id = "expiry-date", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.ExpiryDate)
                                        </div>

                                        @*Note*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Note")
                                            @Html.TextAreaFor(m => m.Note, new { @id = "note", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Note)
                                        </div>

                                        @*TransNote*@
                                        <div class="form-group">
                                            @Html.CustomLabel(detailViewModel.NoteInRegionalLanguage)
                                            @Html.TextAreaFor(m => m.TransNote, new { @id = "trans-note", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.TransNote)
                                        </div>

                                        @*NameOfUser*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Name Of User")
                                            @Html.TextBoxFor(m => m.NameOfUser, new { @class = "form-control" })
                                        </div>

                                        @*EntryDateTime*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Entry Date Time")
                                            @Html.TextBoxFor(m => m.EntryDateTime, new { @class = "form-control" })
                                        </div>

                                        @*Hiddent Field For DepartmentPrmKey*@
                                        @Html.HiddenFor(m => m.DepartmentPrmKey)

                                        @*Hiddent Field For DepartmentModificationPrmKey*@
                                        @Html.HiddenFor(m => m.DepartmentModificationPrmKey)

                                        @*Hiddent Field For DepartmentTranslationPrmKey*@
                                        @Html.HiddenFor(m => m.DepartmentTranslationPrmKey)
                                    </div>
                                </div>
                            </div>

                            @*Footer*@
                            @Html.OperationFooter("Verify", "Exit", "Home", Model.Remark)
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
        var url = "@Url.Action("GetUniqueDepartmentName", "Department")";
</script>
<script src="~/Scripts/Custom/Department.js"></script>