@model DemoProject.Services.ViewModel.Enterprise.Establishment.OrganizationViewModel
@using DemoProject.Services.HtmlHelpers
@using DemoProject.Services.ViewModel.Enterprise.Establishment
@using DemoProject.Services.ViewModel.Configuration

@{
    OrganizationDetailViewModel organizationDetailViewModel = new OrganizationDetailViewModel();
    HeaderPartialModel headerPartialModel = new HeaderPartialModel("ORGVET");
}

<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Organization - Verify</title>
</head>
<body>
    <div class="container-fluid">
        @*======= First Row - For Header =======*@
        <div class="row">
            <div class="offset-lg-1 col-10">
                @Html.Partial("Header", headerPartialModel)
            </div>
        </div>

        @*======= Second Row - Data Entry Page =======*@
        <div class="row mt-3">
            <div class="offset-1 col-10">
                <div class="card mb-3">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        {
                            <div class="card-body">
                                @*======= First  Row - Mandatory Mark =======*@
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <h6 class="mb-2 text-right text-muted"><b class="mandatory-mark"> &nbsp; Mandatory Field</b></h6>
                                    </div>
                                </div>

                                @*======= Second Row - Page Title=======*@
                                <div class="row mt-2">
                                    @*Page Title*@
                                    <div class="col-12">
                                        <h5 class="font-weight-bold mt-1">Verify</h5>
                                        <hr />
                                    </div>
                                </div>

                                @*Submit Error*@
                                @Html.ValidationMessage("SubmitError")

                                @*======= Third Row - Data Entry Page =======*@
                                <div class="row read-only">
                                    <div class="col-12">
                                        @*EffectiveDate*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Effective Date")
                                            @Html.TextBoxFor(m => m.EffectiveDate, "{0:yyyy-MM-dd}", new { @class = "form-control mandatory-mark", @Type = "date", @placeholder = "Enter Effective Date" })
                                            @Html.ValidationMessageFor(m => m.EffectiveDate)
                                        </div>

                                        @*OrganizationType*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Organization Type")
                                            @Html.DropDownListFor(m => m.OrganizationTypeId, new SelectList(organizationDetailViewModel.FinancialOrganizationTypeDropdownList, "Value", "Text"), "Select Organization Type", new { @id = "financial-organization-types", @class = "form-control mandatory-mark" })
                                            @Html.ValidationMessageFor(m => m.OrganizationTypeId)
                                        </div>

                                        @*NameOfOrganization*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Name Of Organization")
                                            @Html.TextBoxFor(m => m.NameOfOrganization, new { @id = "organization-name", @class = "form-control mandatory-mark text-capitalize", @maxlength = "100", @autocomplete = "off", @placeholder = "Enter Name Of Organization", required = "required", onkeydown = "Maketranslation()" })
                                            @Html.ValidationMessageFor(m => m.NameOfOrganization)
                                        </div>

                                        @*TransNameOfOrganization*@
                                        <div class="form-group">
                                            @Html.CustomLabel(organizationDetailViewModel.NameOfOrganizationInRegionalLanguage)
                                            @Html.TextBoxFor(m => m.TransNameOfOrganization, null, new { @id = "trans-organization-name", @class = "form-control mandatory-mark", @maxlength = "100", @autocomplete = "off", required = "required", @placeholder = organizationDetailViewModel.NameOfOrganizationPlaceHolderInRegionalLanguage })
                                            @Html.ValidationMessageFor(m => m.TransNameOfOrganization)
                                        </div>

                                        @*ShortName*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Short Name")
                                            @Html.TextBoxFor(m => m.ShortName, new { @id = "short-name", @class = "form-control text-capitalize", @maxlength = "50", @autocomplete = "off", @placeholder = "Enter Short Name", required = "required", onkeydown = "Maketranslation()" })
                                            @Html.ValidationMessageFor(m => m.ShortName)
                                        </div>

                                        @*TransShortName*@
                                        <div class="form-group">
                                            @Html.CustomLabel(organizationDetailViewModel.ShortNameInRegionalLanguage)
                                            @Html.TextBoxFor(m => m.TransShortName, null, new { @id = "trans-short-name", @class = "form-control", @maxlength = "50", @autocomplete = "off", required = "required", @placeholder = organizationDetailViewModel.ShortNamePlaceHolderInRegionalLanguage, onkeydown = "Maketranslation()" })
                                            @Html.ValidationMessageFor(m => m.TransShortName)
                                        </div>

                                        @*Motto*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Motto")
                                            @Html.TextBoxFor(m => m.Motto, new { @id = "motto", @class = "form-control text-capitalize", @maxlength = "1500", @autocomplete = "off", @placeholder = "Enter Motto", onkeydown = "Maketranslation()" })
                                            @Html.ValidationMessageFor(m => m.Motto)
                                        </div>

                                        @*TransMotto*@
                                        <div class="form-group">
                                            @Html.CustomLabel(organizationDetailViewModel.MottoInRegionalLanguage)
                                            @Html.TextBoxFor(m => m.TransMotto, null, new { @id = "trans-motto", @class = "form-control", @maxlength = "1500", @autocomplete = "off", @placeholder = organizationDetailViewModel.MottoPlaceHolderInRegionalLanguage, onkeydown = "Maketranslation()" })
                                            @Html.ValidationMessageFor(m => m.TransMotto)
                                        </div>

                                        @*Vision*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Vision")
                                            @Html.TextBoxFor(m => m.Vision, new { @id = "vision", @class = "form-control text-capitalize", @maxlength = "2500", @autocomplete = "off", @placeholder = "Enter Vision", onkeydown = "Maketranslation()" })
                                            @Html.ValidationMessageFor(m => m.Vision)
                                        </div>

                                        @*TransVision*@
                                        <div class="form-group">
                                            @Html.CustomLabel(organizationDetailViewModel.VisionInRegionalLanguage)
                                            @Html.TextBoxFor(m => m.TransVision, new { @id = "trans-vision", @class = "form-control", @maxlength = "2500", @autocomplete = "off", @placeholder = organizationDetailViewModel.VisionPlaceHolderInRegionalLanguage, onkeydown = "Maketranslation()" })
                                            @Html.ValidationMessageFor(m => m.TransVision)
                                        </div>

                                        @*Mission*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Mission")
                                            @Html.TextBoxFor(m => m.Mission, new { @id = "mission", @class = "form-control text-capitalize", @maxlength = "2500", @autocomplete = "off", @placeholder = "Enter Mission", onkeydown = "Maketranslation()" })
                                            @Html.ValidationMessageFor(m => m.Mission)
                                        </div>

                                        @*TransMission*@
                                        <div class="form-group">
                                            @Html.CustomLabel(organizationDetailViewModel.MissionInRegionalLanguage)
                                            @Html.TextBoxFor(m => m.TransMission, new { @id = "trans-mission", @class = "form-control", @maxlength = "2500", @autocomplete = "off", @placeholder = organizationDetailViewModel.MissionPlaceHolderInRegionalLanguage, onkeydown = "Maketranslation()" })
                                            @Html.ValidationMessageFor(m => m.TransMission)
                                        </div>

                                        @*Standards*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Standards")
                                            @Html.TextBoxFor(m => m.Standards, new { @id = "standards", @class = "form-control text-capitalize", @maxlength = "2500", @autocomplete = "off", @placeholder = "Enter Standards", onkeydown = "Maketranslation()" })
                                            @Html.ValidationMessageFor(m => m.Standards)
                                        </div>

                                        @*TransStandards*@
                                        <div class="form-group">
                                            @Html.CustomLabel(organizationDetailViewModel.StandardsInRegionalLanguage)
                                            @Html.TextBoxFor(m => m.TransStandards, new { @id = "trans-standards", @class = "form-control", @maxlength = "2500", @autocomplete = "off", @placeholder = organizationDetailViewModel.StandardsPlaceHolderInRegionalLanguage, onkeydown = "Maketranslation()" })
                                            @Html.ValidationMessageFor(m => m.TransStandards)
                                        </div>

                                        @*OrganizationCode*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Organization Code")
                                            @Html.TextBoxFor(m => m.OrganizationCode, new { @id = "organization-code", @class = "form-control", @placeholder = "Enter Organization Code", @maxlength = "50", @autocomplete = "off", onkeyup = "ToTextCapitalize()" })
                                            @Html.ValidationMessageFor(m => m.OrganizationCode)
                                        </div>

                                        @*RegistrationAddressDetails*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Address Details")
                                            @Html.TextAreaFor(m => m.RegistrationAddressDetails, new { @id = "registration-address-details", @class = "form-control mandatory-mark text-capitalize", @maxlength = "500", @autocomplete = "off", @placeholder = "Enter Registration Address Details", onkeydown = "Maketranslation()" })
                                            @Html.ValidationMessageFor(m => m.RegistrationAddressDetails)
                                        </div>

                                        @*TransRegistrationAddressDetails*@
                                        <div class="form-group">
                                            @Html.CustomLabel(organizationDetailViewModel.RegistrationAddressDetailsInRegionalLanguage)
                                            @Html.TextAreaFor(m => m.TransRegistrationAddressDetails, new { @id = "trans-registration-address-details", @class = "form-control  mandatory-mark", @maxlength = "500", @autocomplete = "off", @placeholder = organizationDetailViewModel.RegistrationAddressDetailsPlaceHolderInRegionalLanguage, onkeydown = "Maketranslation()" })
                                            @Html.ValidationMessageFor(m => m.TransRegistrationAddressDetails)
                                        </div>

                                        @*City*@
                                        <div class="form-group">
                                            @Html.CustomLabel("City")
                                            @Html.DropDownListFor(m => m.CenterId, new SelectList(organizationDetailViewModel.VillageTownCityDropdownList, "Value", "Text"), new { @id = "center", @class = "form-control mandatory-mark" })
                                            @Html.ValidationMessageFor(m => m.CenterId)
                                        </div>

                                        @*AreaOfOperationPrmKey*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Area Of Operation")
                                            @Html.DropDownListFor(m => m.AreaOfOperationId, new SelectList(organizationDetailViewModel.AreaOfOperationDropdownList, "Value", "Text"), "Select Area Of Operations", new { @class = "form-control mandatory-mark" })
                                            @Html.ValidationMessageFor(m => m.AreaOfOperationId)
                                        </div>

                                        @*LanguageOfBookPrmKey*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Language Of Book")
                                            @Html.DropDownListFor(m => m.LanguageId, new SelectList(organizationDetailViewModel.LanguageDropdownList, "Value", "Text"), "Select Language", new { @class = "form-control mandatory-mark" })
                                            @Html.ValidationMessageFor(m => m.LanguageId)
                                        </div>

                                        @*PANNumber*@
                                        <div class="form-group">
                                            @Html.CustomLabel("PANNumber")
                                            @Html.TextBoxFor(m => m.PANNumber, "", new { @id = "pan-number", @class = "PAN form-control", @autocomplete = "off", @maxlength = "20", required = "required", @placeholder = "Enter Pan Number", onkeydown = "Maketranslation()" })
                                            @Html.ValidationMessageFor(m => m.PANNumber, "", new { @class = "error" })
                                        </div>

                                        @*OfficialWebSite*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Official WebSite")
                                            @Html.TextBoxFor(m => m.OfficialWebSite, new { @class = "form-control", @autocomplete = "off", @maxlength = "150", required = "required", @placeholder = "Enter Official WebSite", onkeydown = "Maketranslation()" })
                                            @Html.ValidationMessageFor(m => m.OfficialWebSite)
                                        </div>

                                        @*Note*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Note")
                                            @Html.TextAreaFor(m => m.Note, new { @id = "note", @class = "form-control text-capitalize", @autocomplete = "off", @maxlength = "1500", @placeholder = "Enter Note", onkeydown = "Maketranslation()" })
                                            @Html.ValidationMessageFor(m => m.Note)
                                        </div>

                                        @*TransNote*@
                                        <div class="form-group">
                                            @Html.CustomLabel(organizationDetailViewModel.NoteInRegionalLanguage)
                                            @Html.TextAreaFor(m => m.TransNote, new { @id = "trans-note", @class = "form-control default-none", @autocomplete = "off", @maxlength = "4000", @placeholder = organizationDetailViewModel.NotePlaceHolderInRegionalLanguage, onkeydown = "Maketranslation()" })
                                            @Html.ValidationMessageFor(m => m.TransNote)
                                        </div>
                                    </div>
                                </div>

                                @*======= Fourth Row - Accordians =======*@
                                <div id="accordion" class="accordion md-accordion accordion-blocks">
                                    @*Accordian 1 - Cooperative Registration*@
                                    <div class="row mt-3">
                                        <div class="col-12">
                                            <div class="card @(Model.IsRegisterUnderCooperative ? "display:block" : "display:none")">
                                                <div class="card-header collapsed p-3" id="heading-coop-registration" aria-expanded="false" data-toggle="collapse" href="#collapse-coop-registration">
                                                    <a class="card-title">
                                                        <b>Cooperative Registration</b>
                                                    </a>
                                                </div>

                                                <div id="collapse-coop-registration" class="collapse" aria-labelledby="heading-coop-registration" data-parent="#accordion">
                                                    <div class="card-body">
                                                        <div class="row read-only">
                                                            <div class="col-12">
                                                                @*CoopRegistrationDate*@
                                                                <div class="form-group">
                                                                    @Html.CustomLabel("Registration Date")
                                                                    @Html.TextBoxFor(m => m.CoopRegistrationDate, "{0:yyyy-MM-dd}", new { @class = "form-control mandatory-mark", @Type = "date", @placeholder = "Enter Coop Registration Date" })
                                                                    @Html.ValidationMessageFor(m => m.CoopRegistrationDate)
                                                                </div>

                                                                @*CoopRegistrationNumber*@
                                                                <div class="form-group">
                                                                    @Html.CustomLabel("Registration Number")
                                                                    @Html.TextBoxFor(m => m.CoopRegistrationNumber, new { @id = "coop-registration-number", @class = "form-control mandatory-mark", @autocomplete = "off", required = "required", @placeholder = "Enter Coop Registration Number", onkeydown = "Maketranslation()" })
                                                                    @Html.ValidationMessageFor(m => m.CoopRegistrationNumber)
                                                                </div>

                                                                @*TransCoopRegistrationNumber*@
                                                                <div class="form-group">
                                                                    @Html.CustomLabel(organizationDetailViewModel.CoopRegistrationNumberInRegionalLanguage)
                                                                    @Html.TextBoxFor(m => m.TransCoopRegistrationNumber, new { @id = "trans-coop-registration-number", @class = "form-control mandatory-mark", @autocomplete = "off", @placeholder = organizationDetailViewModel.CoopRegistrationNumberPlaceHolderInRegionalLanguage })
                                                                    @Html.ValidationMessageFor(m => m.TransCoopRegistrationNumber)
                                                                </div>

                                                                @*CoopClassification*@
                                                                <div class="form-group">
                                                                    @Html.CustomLabel("Classification")
                                                                    @Html.DropDownListFor(m => m.CoopClassificationId, new SelectList(organizationDetailViewModel.MLCoopSocietyClassDropdownList, "Value", "Text"), "Select Coop Classification", new { @class = "form-control mandatory-mark" })
                                                                    @Html.ValidationMessageFor(m => m.CoopClassificationId)
                                                                </div>

                                                                @*CoopSubClassification*@
                                                                <div class="form-group">
                                                                    @Html.CustomLabel("SubClassification")
                                                                    @Html.DropDownListFor(m => m.CoopSubClassificationId, new SelectList(organizationDetailViewModel.MLCoopSocietySubClassDropdownList, "Value", "Text"), "Select Coop SubClassification", new { @class = "form-control mandatory-mark" })
                                                                    @Html.ValidationMessageFor(m => m.CoopSubClassificationId)
                                                                </div>

                                                                @*CoopReferenceNumber*@
                                                                <div class="form-group">
                                                                    @Html.CustomLabel("ReferenceNumber")
                                                                    @Html.TextBoxFor(m => m.CoopReferenceNumber, new { @id = "coop-reference-number", @class = "form-control", @autocomplete = "off", required = "required", @placeholder = "Enter Coop Reference Number", onkeydown = "Maketranslation()" })
                                                                    @Html.ValidationMessageFor(m => m.CoopReferenceNumber)
                                                                </div>

                                                                @*TransCoopReferenceNumber*@
                                                                <div class="form-group">
                                                                    @Html.CustomLabel(organizationDetailViewModel.CoopReferenceNumberInRegionalLanguage)
                                                                    @Html.TextBoxFor(m => m.TransCoopReferenceNumber, new { @id = "trans-coop-reference-number", @class = "form-control mandatory-mark", @autocomplete = "off", @placeholder = organizationDetailViewModel.CoopReferenceNumberPlaceHolderInRegionalLanguage })
                                                                    @Html.ValidationMessageFor(m => m.TransCoopReferenceNumber)
                                                                </div>

                                                                @*CoopDateOfClassificationAdvice*@
                                                                <div class="form-group">
                                                                    @Html.CustomLabel("Date Of Classification Advice")
                                                                    @Html.TextBoxFor(m => m.CoopDateOfClassificationAdvice, "{0:yyyy-MM-dd}", new { @class = "form-control", @Type = "date", @autocomplete = "off", @placeholder = "Enter Coop Date Of Classification Advice" })
                                                                    @Html.ValidationMessageFor(m => m.CoopDateOfClassificationAdvice)
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @*Accordian 2 - RBI Registration*@
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card @(Model.IsRegisterUnderRBI ? "display:block" : "display:none") mt-3">
                                                <div class="card-header collapsed p-3" id="heading-rbi-registration" aria-expanded="false" data-toggle="collapse" href="#collapse-rbi-registration">
                                                    <a class="card-title">
                                                        <b>RBI Registration</b>
                                                    </a>
                                                </div>

                                                <div id="collapse-rbi-registration" class="collapse" aria-labelledby="heading-rbi-registration" data-parent="#accordion">
                                                    <div class="row card-body read-only">
                                                        <div class="col-12">
                                                            @*RBIRegistrationDate*@
                                                            <div class="form-group">
                                                                @Html.CustomLabel("RBI Registration Date")
                                                                @Html.TextBoxFor(m => m.RBIRegistrationDate, "{0:yyyy-MM-dd}", new { @class = "form-control mandatory-mark", @Type = "date", @placeholder = "Enter RBI Registration Date" })
                                                                @Html.ValidationMessageFor(m => m.RBIRegistrationDate)
                                                            </div>

                                                            @*RBIRegistrationNumber*@
                                                            <div class="form-group">
                                                                @Html.CustomLabel("RBI Registration Number")
                                                                @Html.TextBoxFor(m => m.RBIRegistrationNumber, "{0:yyyy-MM-dd}", new { @id = "rbi-registration-number", @class = "form-control mandatory-mark", @autocomplete = "off", required = "required", @placeholder = "Enter RBI Registration Number", onkeydown = "Maketranslation()" })
                                                                @Html.ValidationMessageFor(m => m.RBIRegistrationNumber)
                                                            </div>

                                                            @*TransRBIRegistrationNumber*@
                                                            <div class="form-group">
                                                                @Html.CustomLabel(organizationDetailViewModel.RBIRegistrationNumberInRegionalLanguage)
                                                                @Html.TextBoxFor(m => m.TransRBIRegistrationNumber, new { @id = "trans-rbi-registration-number", @class = "form-control mandatory-mark", @autocomplete = "off", @placeholder = organizationDetailViewModel.RBIRegistrationNumberPlaceHolderInRegionalLanguage, onkeydown = "Maketranslation()" })
                                                                @Html.ValidationMessageFor(m => m.TransRBIRegistrationNumber)
                                                            </div>

                                                            @*RBIClassification*@
                                                            <div class="form-group">
                                                                @Html.CustomLabel("RBI Classification")
                                                                @Html.DropDownListFor(m => m.RBIClassificationId, new SelectList(organizationDetailViewModel.MLCoopSocietyClassDropdownList, "Value", "Text"), new { @class = "form-control mandatory-mark" })
                                                                @Html.ValidationMessageFor(m => m.RBIClassificationId)
                                                            </div>

                                                            @*RBISubClassification*@
                                                            <div class="form-group">
                                                                @Html.CustomLabel("RBI SubClassification")
                                                                @Html.DropDownListFor(m => m.RBISubClassificationId, new SelectList(organizationDetailViewModel.MLCoopSocietySubClassDropdownList, "Value", "Text"), new { @class = "form-control mandatory-mark" })
                                                                @Html.ValidationMessageFor(m => m.RBISubClassificationId)
                                                            </div>

                                                            @*RBIReferenceNumber*@
                                                            <div class="form-group">
                                                                @Html.CustomLabel("RBI Reference Number")
                                                                @Html.TextBoxFor(m => m.RBIReferenceNumber, new { @id = "rbi-reference-number", @class = "form-control mandatory-mark", @autocomplete = "off", required = "required", @placeholder = "Enter RBI Reference Number", onkeydown = "Maketranslation()" })
                                                                @Html.ValidationMessageFor(m => m.RBIReferenceNumber)
                                                            </div>

                                                            @*TransRBIReferenceNumber*@
                                                            <div class="form-group">
                                                                @Html.CustomLabel(organizationDetailViewModel.RBIReferenceNumberInRegionalLanguage)
                                                                @Html.TextBoxFor(m => m.TransRBIReferenceNumber, new { @id = "trans-rbi-reference-number", @class = "form-control mandatory-mark", @autocomplete = "off", @placeholder = organizationDetailViewModel.RBIReferenceNumberPlaceHolderInRegionalLanguage, onkeydown = "Maketranslation()" })
                                                                @Html.ValidationMessageFor(m => m.TransRBIReferenceNumber)
                                                            </div>

                                                            @*RBIDateOfClassificationAdvice*@
                                                            <div class="form-group">
                                                                @Html.CustomLabel("RBI Date Of Classification Advice")
                                                                @Html.TextBoxFor(m => m.RBIDateOfClassificationAdvice, "{0:yyyy-MM-dd}", new { @class = "form-control", @Type = "date", @placeholder = "Enter RBI Date Of Classification Advice" })
                                                                @Html.ValidationMessageFor(m => m.RBIDateOfClassificationAdvice)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @*Accordian 3 - Authorized Shares Capital*@
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card mt-3">
                                                <div class="card-header collapsed p-3" id="heading-authorized-shares-capital" aria-expanded="false" data-toggle="collapse" href="#collapse-authorized-shares-capital">
                                                    <a class="card-title">
                                                        <b>Authorized Shares Capital</b>
                                                    </a>
                                                </div>

                                                <div id="collapse-authorized-shares-capital" class="collapse" aria-labelledby="heading-authorized-shares-capital" data-parent="#accordion">
                                                    <div class="row card-body read-only">
                                                        <div class="col-12">
                                                            @*AuthorizedDate*@
                                                            <div class="form-group">
                                                                @Html.CustomLabel("Authorized Date")
                                                                @Html.TextBoxFor(m => m.AuthorizedSharesCapitalViewModel.AuthorizedDate, "{0:yyyy-MM-dd}", new { @class = "form-control mandatory-mark", @Type = "date", @placeholder = "Enter Authorized Date Date" })
                                                                @Html.ValidationMessageFor(m => m.AuthorizedSharesCapitalViewModel.AuthorizedDate)
                                                            </div>

                                                            @*AuthorizedSharesCapitalAmount*@
                                                            <div class="form-group">
                                                                @Html.CustomLabel("Authorized Shares Capital Amount")
                                                                @Html.TextBoxFor(m => m.AuthorizedSharesCapitalViewModel.AuthorizedSharesCapitalAmount, new { @id = "number",@class = "form-control mandatory-mark", @type = "number", @autocomplete = "off", @placeholder = "Enter Authorized Shres Capital Amount" })
                                                                @Html.ValidationMessageFor(m => m.AuthorizedSharesCapitalViewModel.AuthorizedSharesCapitalAmount)
                                                                <span id="words"></span>
                                                            </div>

                                                            @*ReferenceNumber*@
                                                            <div class="form-group">
                                                                @Html.CustomLabel("Reference Number")
                                                                @Html.TextBoxFor(m => m.AuthorizedSharesCapitalViewModel.ReferenceNumber, new { @id = "reference-number", @class = "form-control", @autocomplete = "off", @placeholder = "Enter RBI Reference Number" })
                                                                @Html.ValidationMessageFor(m => m.AuthorizedSharesCapitalViewModel.ReferenceNumber)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @*Accordian 4 - ContactDetails*@
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card mt-3">
                                                <div class="card-header collapsed p-3" id="heading-contact-detail" aria-expanded="false" data-toggle="collapse" href="#collapse-contact-detail">
                                                    <a class="card-title">
                                                        <b>Contact Details</b>
                                                    </a>
                                                </div>

                                                <div id="collapse-contact-detail" class="collapse" aria-labelledby="heading-contact-detail" data-parent="#accordion">
                                                    <div class="card-body ">
                                                        <div class="table-responsive" style="min-height:200px;">
                                                            <table id="tblContactDetail" class="table compact  table-striped table-bordered  read-only" width="100">
                                                                <thead class="text-center">
                                                                    <tr>
                                                                        <th><input type="checkbox" name="check_all" id="selectAll" /></th>
                                                                        <th style=" display:none;">ContactTypeId</th>
                                                                        <th>ContactType</th>
                                                                        <th>Detail</th>
                                                                        <th style=" display:none;">ContactGroupId</th>
                                                                        <th>ContactGroup</th>
                                                                        <th>IsOpen</th>
                                                                    </tr>
                                                                </thead>

                                                                <tbody class="text-center">
                                                                    @{
                                                                        IEnumerable<OrganizationContactDetailViewModel> viewModelList = (IEnumerable<OrganizationContactDetailViewModel>)HttpContext.Current.Session["OrganizationContactDetail"];

                                                                        foreach (OrganizationContactDetailViewModel viewModel in viewModelList)
                                                                        {
                                                                            <tr>
                                                                                <td><input type="checkbox" name="check_all" class="checks" /></td>
                                                                                <td class="d-none">@viewModel.ContactTypeId</td>
                                                                                <td>@viewModel.NameOfContactType</td>
                                                                                <td>@viewModel.FieldValue</td>
                                                                                <td class="d-none">@viewModel.ContactGroupId</td>
                                                                                <td>@viewModel.NameOfContactGroup</td>
                                                                                <td>@viewModel.IsOpen</td>

                                                                            </tr>
                                                                        }

                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @*Accordian 5 - OrganizationFund*@
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card mt-3">
                                                <div class="card-header p-3" aria-expanded="false" data-toggle="collapse" href="#collapse-organization-fund">
                                                    <a class="card-title">
                                                        <b>Organization Fund</b>
                                                    </a>
                                                </div>
                                                <div id="collapse-organization-fund" class="collapse" aria-labelledby="heading-organization-fund" data-parent="#accordion">
                                                    <div class="card-body ">
                                                        <table id="organization-fund-table" class="table compact table-striped table-bordered read-only" width="100">
                                                            <thead class="text-center">
                                                                <tr>
                                                                    <th><input type="checkbox" name="check_all" id="select-all-fund" /></th>
                                                                    <th class="d-none">FundId</th>
                                                                    <th>FundCategory</th>
                                                                    <th>SequenceNumber</th>
                                                                    <th>SequenceNumberText</th>
                                                                    <th>TransSequenceNumberText</th>
                                                                    <th>ActivationDate</th>
                                                                </tr>
                                                            </thead>

                                                            <tbody class="text-center">
                                                                @{
                                                                    IEnumerable<OrganizationFundViewModel> fundViewModelList = (IEnumerable<OrganizationFundViewModel>)HttpContext.Current.Session["OrganizationFund"];

                                                                    foreach (OrganizationFundViewModel viewModel in fundViewModelList)
                                                                    {
                                                                        <tr>
                                                                            <td><input type="checkbox" name="check_all" class="checks" /></td>
                                                                            <td class="d-none">@viewModel.FundId</td>
                                                                            <td>@viewModel.NameOfFund</td>
                                                                            <td>@viewModel.SequenceNumber</td>
                                                                            <td>@viewModel.SequenceNumberText</td>
                                                                            <td>@viewModel.TransSequenceNumberText</td>
                                                                            <td>@viewModel.ActivationDate</td>
                                                                        </tr>
                                                                    }
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @*Accordian 6 - OrganizationLoanType*@
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card mt-3">
                                                <div class="card-header p-3" aria-expanded="false" data-toggle="collapse" href="#collapse-organization-loan-type">
                                                    <a class="card-title">
                                                        <b>Organization Loan Type</b>
                                                    </a>
                                                </div>

                                                <div id="collapse-organization-loan-type" class="collapse" aria-labelledby="heading-organization-loan-type" data-parent="#accordion">

                                                    <div class="card-body">
                                                        <table id="organization-loan-type-table" class="table compact table-striped table-bordered read-only" width="100">
                                                            <thead class="text-center">
                                                                <tr>
                                                                    <th><input type="checkbox" name="check_all" id="select-all-loan-Type" /></th>
                                                                    <th class="d-none">AccountClassId</th>
                                                                    <th>AccountClass</th>
                                                                    <th>MaximumLoanTenure</th>
                                                                    <th>MinimumDownPaymentPercentage</th>
                                                                    <th>SequenceNumber</th>
                                                                    <th>SequenceNumberText</th>
                                                                    <th>TransSequenceNumberText</th>
                                                                    <th>ActivationDate</th>

                                                                </tr>
                                                            </thead>

                                                            <tbody class="text-center">
                                                                @{
                                                                    IEnumerable<OrganizationLoanTypeViewModel> loanTypeViewModelList = (IEnumerable<OrganizationLoanTypeViewModel>)HttpContext.Current.Session["OrganizationLoanType"];

                                                                    foreach (OrganizationLoanTypeViewModel viewModel in loanTypeViewModelList)
                                                                    {
                                                                        <tr class="hoverlightblue">
                                                                            <td><input type="checkbox" name="check_all" class="checks" /></td>
                                                                            <td class="d-none">@viewModel.AccountClassId</td>
                                                                            <td>@viewModel.NameOfAccountClass</td>
                                                                            <td>@viewModel.MaximumLoanTenure</td>
                                                                            <td>@viewModel.MinimumDownPaymentPercentage</td>
                                                                            <td>@viewModel.SequenceNumber</td>
                                                                            <td>@viewModel.SequenceNumberText</td>
                                                                            <td>@viewModel.TransSequenceNumberText</td>
                                                                            <td>@viewModel.ActivationDate</td>
                                                                        </tr>
                                                                    }
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            @*Hiddent Field For AuthorizedSharesCapitalPrmKey*@
                            @Html.HiddenFor(m => m.AuthorizedSharesCapitalViewModel.AuthorizedSharesCapitalPrmKey)

                            @*Hiddent Field For OrganizationPrmKey*@
                            @Html.HiddenFor(m => m.OrganizationPrmKey)

                            @*Hiddent Field For OrganizationPrmKey*@
                            @Html.HiddenFor(m => m.OrganizationTranslationPrmKey)


                            @*Save/Submit Button*@
                            <div class="card-footer bg-white">
                                @*Remark*@
                                <div class="form-group">
                                    <label class="font-weight-bold">Remark</label>
                                    @Html.TextBoxFor(m => m.Remark, new { @class = "form-control" })
                                </div>

                                <div class="d-flex justify-content-center mb-2">
                                    <button type="button" class="btn btn-success ml-3" onclick="window.location.href='@Url.Action("VerifiedIndex","Organization")'"><h5><u>BackToList</u></h5></button>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>

    </div>
    <script>
    var url = "@Url.Action("SaveDataTables", "Organization")";
    </script>

    <script src="~/Scripts/Custom/Organization.js"></script>
</body>
</html>
