@model DemoProject.Services.ViewModel.PersonInformation.PersonAdditionalIncomeDetailViewModel
@using DemoProject.Services.ViewModel.PersonInformation
@using DemoProject.Services.HtmlHelpers
@using DemoProject.Services.ViewModel.Configuration
@{
    PersonDetailViewModel personDetailViewModel = new PersonDetailViewModel();
    HeaderPartialModel headerPartialModel = new HeaderPartialModel("PINAUT");
}

<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <title>PersonBorrowingDetail - Verify</title>
</head>
<body>
    <div class="container-fluid">

        @* ======= First Row - For Header ======= *@
        <div class="row">
            <div class="offset-lg-1 col-10">
                @Html.Partial("Header", headerPartialModel)
            </div>
        </div>

        @* ======= Second Row - Data Entry Page ======= *@
        <div class="row mt-3">
            <div class="col-10 offset-1">
                <div class="card d-block mb-3">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "form", autocomplete = "off" }))
                    {
                        @Html.AntiForgeryToken()
                        {
                            <div class="card-body">

                                @*======= First Row - Mandatory Mark =======*@
                                @*Page Title- Verify*@
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <h6 class="text-right text-muted"><b class="mandatory-mark"> &nbsp; Mandatory Field</b></h6>
                                        <h5 class="font-weight-bold mt-1">Verify</h5>
                                        <hr />
                                    </div>
                                </div>

                                @*Submit Error*@
                                @Html.ValidationMessage("SubmitError")


                                @{
                                    <h5 class="ml-5 mt-5 text-left font-weight-bold">
                                        @Model.FullName
                                    </h5>
                                }


                                @*======= Second Row - Data Entry Page =======*@
                                @*Two Columns For Default Application Language (i.e. English) And Other For Regional Language Translation With Equal Length*@
                                <div class="row">
                                    <div class="col-12">

                                        @*MakerRemark*@
                                        <div class="ml-5 mt-5 mr-5 form-group read-only">
                                            @Html.CustomLabel("MakerRemark")
                                            @Html.TextBoxFor(m => m.MakerRemark, new { @class = "form-control mandatory-mark read-only" })
                                            @Html.ValidationMessageFor(m => m.MakerRemark)
                                        </div>

                                        @*Accordian 1 - Address Details*@
                                        <div id="heading-income-details" class="ml-2 card-body">
                                            <div class="mt-5 row">
                                                <div class="col-12">
                                                    <div class="card-body">
                                                        <table id="tbl-income-detail" class="table compact  table-striped table-bordered" width="100">
                                                            <thead class="text-center read-only">
                                                                <tr>
                                                                    <th><input type="checkbox" name="check_all" id="select-all-income-detail" /></th>
                                                                    <th class="d-none">IncomeSourceId</th>
                                                                    <th>IncomeSource</th>
                                                                    <th>AnnualIncome</th>
                                                                    <th>OtherDetails</th>
                                                                    <th>Note</th>
                                                                    <th>ReasonForModification</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody class="text-center read-only">
                                                                @{
                                                                    IEnumerable<PersonAdditionalIncomeDetailViewModel> additionalIncomeDetailViewModelList = (IEnumerable<PersonAdditionalIncomeDetailViewModel>)HttpContext.Current.Session["PersonAdditionalIncomeDetail"];
                                                                    if (additionalIncomeDetailViewModelList != null)
                                                                    {
                                                                        foreach (PersonAdditionalIncomeDetailViewModel viewModel in additionalIncomeDetailViewModelList)
                                                                        {
                                                                            <tr>
                                                                                <td><input type="checkbox" name="check_all" class="checks" /></td>
                                                                                <td class="d-none">@viewModel.IncomeSourceId</td>
                                                                                <td>@viewModel.NameOfIncomeSource</td>
                                                                                <td>@viewModel.AnnualIncome</td>
                                                                                <td>@viewModel.OtherDetails</td>
                                                                                <td>@viewModel.Note</td>
                                                                                <td>@viewModel.ReasonForModification</td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*NameOfUser*@
                                <div class="form-group read-only">
                                    @Html.CustomLabel("Name Of User")
                                    @Html.TextBoxFor(m => m.NameOfUser, new { @class = "form-control" })
                                </div>

                                @*EntryDateTime*@
                                <div class="form-group read-only">
                                    @Html.CustomLabel("Entry Date Time")
                                    @Html.TextBoxFor(m => m.EntryDateTime, new { @class = "form-control" })
                                </div>

                                @*Hiddent Field For PrmKey*@
                                @Html.HiddenFor(m => m.PrmKey)

                                @*Hiddent Field For PersonPrmKey*@
                                @Html.HiddenFor(m => m.PersonPrmKey)

                                @*Hiddent Field For CenterOccupationPrmKey*@
                                @Html.HiddenFor(m => m.PersonAdditionalIncomeDetailPrmKey)

                                @*Hiddent Field For PersonAddressTranslationPrmKey*@
                                @Html.HiddenFor(m => m.PersonId)
                            </div>

                            @Html.OperationFooter("Verify", "Exit", "Home", " ")
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    var SaveIncomeDetailDataTable = "@Url.Action("SaveIncomeDetailDataTable", "PersonAdditionalIncomeDetail")";
</script>
<script src="~/Scripts/Custom/PersonAdditionalIncome.js"></script>