@model DemoProject.Services.ViewModel.Management.Parameter.BoardOfDirectorParameterViewModel
@using DemoProject.Services.ViewModel.Management.Parameter
@using DemoProject.Services.ViewModel.Configuration
@using DemoProject.Services.HtmlHelpers

@{
    BoardOfDirectorParameterViewModel model = new BoardOfDirectorParameterViewModel();
    HeaderPartialModel headerPartialModel = new HeaderPartialModel("BDPVER");
}

<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>BoardOfDirectorParameter - Verified Record </title>
</head>
<body>
    <div class="container-fluid">

        @*First Row - For Header*@
        <div class="row">
            <div class="col-md-10 offset-1">
                @Html.Partial("Header", headerPartialModel)
            </div>
        </div>

        @*Second Row - Data Entry Page*@
        <div class="row mt-3">
            <div class="offset-1 col-10">
                <div class="card mb-3">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        {
                            <div class="card-body read-only">
                                @*======= First  Row - Mandatory Mark =======*@
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <h6 class="mb-2 text-right text-muted"><b class="mandatory-mark"> &nbsp; Mandatory Field</b></h6>
                                    </div>
                                </div>

                                @*======= Second Row - Page Title =======*@
                                <div class="row mt-2">
                                    @*Page Title If Screen Large Then Column - 12 Otherwise Col - 6 For Create And Remaining For Translation*@
                                    <div class="col-12">
                                        <h5 class="font-weight-bold mt-1">ViewEntry</h5>
                                        <hr />
                                    </div>
                                </div>

                                @*Submit Error*@
                                @Html.ValidationMessage("SubmitError")

                                <div class="row ">
                                    <div class="col-12">

                                        @*Effective Date*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Effective Date")
                                            @Html.TextBoxFor(m => m.EffectiveDate, "{0:yyyy-MM-ddTHH:mm}", new { @class = "form-control mandatory-mark" })
                                            @Html.ValidationMessageFor(m => m.EffectiveDate)
                                        </div>

                                        @*TotalNumberOfDirectors*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Total Number Of Directors")
                                            @Html.TextBoxFor(m => m.TotalNumberOfDirectors, new { @class = "form-control mandatory-mark" })
                                            @Html.ValidationMessageFor(m => m.TotalNumberOfDirectors)
                                        </div>

                                        @*BoardOfDirectorValidity*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Board Of Director Validity In Year")
                                            @Html.TextBoxFor(m => m.BoardOfDirectorValidity, new { @class = "form-control mandatory-mark" })
                                            @Html.ValidationMessageFor(m => m.BoardOfDirectorValidity)
                                        </div>

                                        @*ReserveSeatsForGeneralCategory*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Reserve Seats For GeneralCategory")
                                            @Html.TextBoxFor(m => m.ReserveSeatsForGeneralCategory, new { @class = "form-control mandatory-mark" })
                                            @Html.ValidationMessageFor(m => m.ReserveSeatsForGeneralCategory)
                                        </div>

                                        @*ReserveSeatsForSCST*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Reserve Seats For SCST")
                                            @Html.TextBoxFor(m => m.ReserveSeatsForSCST, new { @class = "form-control mandatory-mark" })
                                            @Html.ValidationMessageFor(m => m.ReserveSeatsForSCST)
                                        </div>

                                        @*ReserveSeatsForWeakerSection*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Reserve Seats For WeakerSection")
                                            @Html.TextBoxFor(m => m.ReserveSeatsForWeakerSection, new { @class = "form-control mandatory-mark" })
                                            @Html.ValidationMessageFor(m => m.ReserveSeatsForWeakerSection)
                                        </div>

                                        @*ReserveSeatsForOBC*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Reserve Seats For OBC")
                                            @Html.TextBoxFor(m => m.ReserveSeatsForOBC, new { @class = "form-control mandatory-mark" })
                                            @Html.ValidationMessageFor(m => m.ReserveSeatsForOBC)
                                        </div>

                                        @*ReserveSeatsForWomen*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Reserve Seats For Women")
                                            @Html.TextBoxFor(m => m.ReserveSeatsForWomen, new { @class = "form-control mandatory-mark" })
                                            @Html.ValidationMessageFor(m => m.ReserveSeatsForWomen)
                                        </div>

                                        @*ReserveSeatsForDNotifiedTribes*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Reserve Seats For DNotified Tribes")
                                            @Html.TextBoxFor(m => m.ReserveSeatsForDNotifiedTribes, new { @class = "form-control mandatory-mark" })
                                            @Html.ValidationMessageFor(m => m.ReserveSeatsForDNotifiedTribes)
                                        </div>

                                        @*ReserveSeatsForCooptExpertDirector*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Reserve Seats For Co-opt ExpertDirector")
                                            @Html.TextBoxFor(m => m.ReserveSeatsForCooptExpertDirector, new { @class = "form-control mandatory-mark" })
                                            @Html.ValidationMessageFor(m => m.ReserveSeatsForCooptExpertDirector)
                                        </div>

                                        @*MinimumDepositAmount*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Minimum Deposit Amount")
                                            @Html.TextBoxFor(m => m.MinimumDepositAmount, new { @class = "form-control mandatory-mark" })
                                            @Html.ValidationMessageFor(m => m.MinimumDepositAmount)
                                        </div>
                                        <br />

                                        @*IsRequiredActiveMemberForDirector*@
                                        <div class="row mt-3 form-group">
                                            <div class="col-4 ml-1">
                                                @Html.CustomLabel("IsRequiredActiveMemberForDirector")
                                            </div>
                                            <div class="text-right">
                                                <label class="switch switch-left-right">
                                                    @Html.CheckBoxFor(m => m.IsRequiredActiveMemberForDirector, new { @id = "IsRequiredActiveMemberForDirector", @class = "form-control switch-input" })
                                                    <span class="slider round">
                                                        <span class="on"><b>ON</b></span><span class="off"><b>OFF</b></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>

                                        @*AssuranceDeedFormat*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Assurance DeedFormat")
                                            @Html.DropDownListFor(m => m.AssuranceDeedFormatId, new SelectList(model.AssuranceDeedFormatDropdownList, "Value", "Text"), new { @id = "assurance-deedformat", @class = "form-control mandatory-mark" })
                                            @Html.ValidationMessageFor(m => m.AssuranceDeedFormatId)
                                        </div>

                                        @*NameOfMaker*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Name Of User")
                                            @Html.TextBoxFor(m => m.NameOfUser, new { @class = "form-control" })
                                        </div>

                                        @*EntryDateTime*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Entry Date Time")
                                            @Html.TextBoxFor(m => m.EntryDateTime, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        @*Save/Submit Button*@
                        <div class="card-footer bg-white">
                            <div class="d-flex justify-content-center mb-2">
                                <button type="button" class="btn btn-success ml-3" onclick="window.location.href='@Url.Action("Index","BoardOfDirectorParameter")'"><h5><u>BackToList</u></h5></button>
                            </div>
                        </div>
                    }
                }
                </div>
            </div>
        </div>
        </div>
    </body>
</html>
