@model DemoProject.Services.ViewModel.PersonInformation.Master.DivisionViewModel
@using DemoProject.Services.HtmlHelpers
@using DemoProject.Services.ViewModel.PersonInformation.Master
@using DemoProject.Services.ViewModel.Configuration

@{
    DivisionDetailViewModel detailViewModel = new DivisionDetailViewModel();
    HeaderPartialModel headerPartialModel = new HeaderPartialModel("DIVAUT");
}

<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <title>Division - Verify</title>
</head>
<body>
    <div class="container-fluid">
        @*======= First Row - For Header =======*@
        <div class="row">
            <div class="col-10 offset-1">
                @Html.Partial("Header", headerPartialModel)
            </div>
        </div>

        @*======= Second Row - Data Entry Page =======*@
        <div class="row mt-3">
            <div class="col-10 offset-1">
                <div class="card d-block mb-3">
                    @using (Html.BeginForm("Verify", "Division", FormMethod.Post, new { enctype="multipart/form-data", id = "form", autocomplete ="off" }))
                    {
                        @Html.AntiForgeryToken()
                        {
                            <div class="card-body">
                                @*======= First Row - Mandatory Mark =======*@
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <h6 class="mb-2 text-right text-muted"><b class="mandatory-mark"> &nbsp; Mandatory Field</b></h6>
                                    </div>
                                </div>

                                @*======= Second Row - Page Title, Translation =======*@
                                <div class="row mt-2">
                                    @*Page Title*@
                                    <div class="col-12">
                                        <h5 class="font-weight-bold mt-1">Verify</h5>
                                        <hr />
                                    </div>

                                </div>

                                @*Submit Error*@
                                @Html.ValidationMessage("SubmitError")

                                @*======= Third Row - Data Entry Page =======*@
                                <div class="row read-only">
                                    <div class="col-12">
                                        @*MakerRemark*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Maker Remark")
                                            @Html.TextBoxFor(m => m.MakerRemark, new { @class = "form-control mandatory-mark " })
                                            @Html.ValidationMessageFor(m => m.MakerRemark)
                                        </div>

                                        @*NameOfCenter*@
                                        <div class="form-group">
                                            <label class="font-weight-bold">Name Of Division</label>
                                            @Html.TextBoxFor(m => m.NameOfCenter, new { @id = "name-of-center", @class = "form-control mandatory-mark" })
                                            @Html.ValidationMessageFor(m => m.NameOfCenter)
                                        </div>

                                        @*TransNameOfCenter*@
                                        <div class="form-group">
                                            <label class="font-weight-bold">विभागाचे नाव</label>
                                            @Html.TextBoxFor(m => m.TransNameOfCenter, null, new { @id = "trans-name-of-center", @class = "form-control mandatory-mark" })
                                            @Html.ValidationMessageFor(m => m.TransNameOfCenter)
                                        </div>

                                        @*AliasName*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Alias Name")
                                            @Html.TextBoxFor(m => m.AliasName, new { @id = "alias-name", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.AliasName)
                                        </div>

                                        @*TransAliasName*@
                                        <div class="form-group">
                                            @Html.CustomLabel(detailViewModel.AliasNameInRegionalLanguage)
                                            @Html.TextBoxFor(m => m.TransAliasName, null, new { @id = "trans-alias-name", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.TransAliasName)
                                        </div>

                                        @*NameOnReport*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Name On Report")
                                            @Html.TextBoxFor(m => m.NameOnReport, new { @id = "name-on-report", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.NameOnReport)
                                        </div>

                                        @*TransNameOnReport*@
                                        <div class="form-group">
                                            @Html.CustomLabel(detailViewModel.NameOnReportInRegionalLanguage)
                                            @Html.TextBoxFor(m => m.TransNameOnReport, null, new { @id = "trans-name-on-report", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.TransNameOnReport)
                                        </div>

                                        @*ParentCenterPrmKey*@
                                        <div class="form-group">
                                            <label class="font-weight-bold" id="Postal">Name Of State</label>
                                            @Html.DropDownListFor(m => m.ParentCenterId, new SelectList(detailViewModel.StateUnionTerritoriesDropdownList, "Value", "Text"), new { @class = "form-control mandatory-mark" })
                                            @Html.ValidationMessageFor(m => m.ParentCenterId)
                                        </div>

                                        @*ActivationDate*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Activation Date")
                                            @Html.TextBoxFor(m => m.ActivationDate, "{0:yyyy-MM-dd}", new { @id = "ActivationDate", @class = "form-control mandatory-mark" })
                                            @Html.ValidationMessageFor(m => m.ActivationDate)
                                        </div>

                                        @*Note*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Note")
                                            @Html.TextAreaFor(m => m.Note, new { @id = "note", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Note)
                                        </div>

                                        @*TransNote*@
                                        <div class="form-group">
                                            @Html.CustomLabel(detailViewModel.NoteInRegionalLanguage)
                                            @Html.TextAreaFor(m => m.TransNote, new { @id = "trans-note", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.TransNote)
                                        </div>

                                        @*NameOfUser*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Name Of User")
                                            @Html.TextBoxFor(m => m.NameOfUser, new { @class = "form-control" })
                                        </div>

                                        @*EntryDateTime*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Entry Date Time")
                                            @Html.TextBoxFor(m => m.EntryDateTime, new { @class = "form-control" })
                                        </div>

                                        @*Hiddent Field For CenterPrmKey*@
                                        @Html.HiddenFor(m => m.CenterPrmKey)

                                        @*Hiddent Field For CenterModificationPrmKey*@
                                        @Html.HiddenFor(m => m.CenterModificationPrmKey)

                                        @*Hiddent Field For CenterTranslationPrmKey*@
                                        @Html.HiddenFor(m => m.CenterTranslationPrmKey)

                                        @*Hiddent Field For CenterISOCodePrmKey*@
                                        @Html.HiddenFor(m => m.CenterIsoCodeViewModel.CenterISOCodePrmKey)

                                    </div>
                                </div>

                                @*Forth Row - Accordian*@
                                <div class="row mt-4">
                                    <div class="col-12">
                                        <div id="accordion" class="accordion md-accordion accordion-blocks">
                                            <div class="card d-block iso-info">
                                                <div class="card-header collapsed p-3" id="headingOne" aria-expanded="true" data-toggle="collapse" href="#collapseOne">
                                                    <a class="card-title">
                                                        <b>@Html.TextWithRegionalLanguage("Center ISO Code")</b>
                                                    </a>
                                                </div>
                                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                                    <div class="card-body read-only">
                                                        @*ISOAlphaNumericCode2*@
                                                        <div class="form-group">
                                                            @Html.CustomLabel("ISO AlphaNumeric Code2")
                                                            @Html.TextBoxFor(m => m.CenterIsoCodeViewModel.ISOAlphaNumericCode2, new { @class = "form-control text-uppercase" })
                                                            @Html.ValidationMessageFor(m => m.CenterIsoCodeViewModel.ISOAlphaNumericCode2)
                                                        </div>

                                                        @*ISOAlphaNumericCode3*@
                                                        <div class="form-group">
                                                            @Html.CustomLabel("ISO AlphaNumeric Code3")
                                                            @Html.TextBoxFor(m => m.CenterIsoCodeViewModel.ISOAlphaNumericCode3, new { @class = "form-control text-uppercase" })
                                                            @Html.ValidationMessageFor(m => m.CenterIsoCodeViewModel.ISOAlphaNumericCode3)
                                                        </div>

                                                        @*ISONumericCode*@
                                                        <div class="form-group">
                                                            @Html.CustomLabel("ISO Numeric Code")
                                                            @Html.TextBoxFor(m => m.CenterIsoCodeViewModel.ISONumericCode, new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(m => m.CenterIsoCodeViewModel.ISONumericCode)
                                                        </div>

                                                        @*OtherCode*@
                                                        <div class="form-group">
                                                            @Html.CustomLabel("Other Code")
                                                            @Html.TextBoxFor(m => m.CenterIsoCodeViewModel.OtherCode, new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(m => m.CenterIsoCodeViewModel.OtherCode)
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*Save/Submit Button*@
                            @Html.OperationFooter("Verify", "Exit", "Home", "None")
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <script>
        var url = "@Url.Action("GetUniqueCenterName", "Division")";
    </script>
    <script src="~/Scripts/Custom/Center.js"></script>

</body>
</html>
