@model DemoProject.Services.ViewModel.Account.Master.FinancialCycleViewModel
@using DemoProject.Services.HtmlHelpers
@using DemoProject.Services.ViewModel.Account.Master
@using DemoProject.Services.ViewModel.Configuration

@{
    FinancialCycleViewModel model = new FinancialCycleViewModel(); 
    HeaderPartialModel headerPartialModel = new HeaderPartialModel("FINVRF");
}

<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>GeneralLedger - Verify</title>
</head>
<body>
    <div class="container-fluid">
        @*======= First Row - For Header =======*@
        <div class="row">
            <div class="offset-1 col-10">
                @Html.Partial("Header", headerPartialModel)
            </div>
        </div>

        @*======= Second Row - Data Entry Page =======*@
        <div class="row mt-3">
            <div class="offset-1 col-10">
                <div class="card mb-3">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        {
                            <div class="card-body">
                                @*======= First Row - Mandatory Mark =======*@
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <h6 class="mb-2 text-right text-muted"><b class="mandatory-mark">&nbsp; Mandatory Field</b></h6>
                                    </div>
                                </div>

                                @*======= Second Row - Page Title, Translation =======*@
                                <div class="row mt-2">
                                    @*Page Title*@
                                    <div class="col-12">
                                        <h5 class="font-weight-bold mt-1">Verify</h5>
                                        <hr />
                                    </div>
                                </div>

                                @*Submit Error*@
                                @Html.ValidationMessage("SubmitError")

                                @*======= Third Row - Data Entry Page =======*@
                                <div class="row read-only">
                                    <div class="col-12">
                                        @*MakerRemark*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Maker Remark")
                                            @Html.TextBoxFor(m => m.MakerRemark, new { @class = "form-control read-only" })
                                            @Html.ValidationMessageFor(m => m.MakerRemark)
                                        </div>

                                        @*FinancialCycleCode*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Financial Cycle Code")
                                            @Html.TextBoxFor(m => m.FinancialCycleCode, new { @id = "financial-cycle-code", @class = "form-control mandatory-mark", @placeholder = "Enter Financial Cycle Code", required = "required", @maxlength = "9", @autocomplete = "off", onkeyup = "ToTextCapitalize()" })
                                            @Html.ValidationMessageFor(m => m.FinancialCycleCode)
                                        </div>

                                        @*StartDate*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Start Date")
                                            @Html.TextBoxFor(m => m.StartDate, "{0:yyyy-MM-dd}", new { @id = "start-date", @class = "form-control mandatory-mark", required = "required", onchange = "StartDate()" })
                                            @Html.ValidationMessageFor(m => m.StartDate)
                                        </div>

                                        @*EndDate*@
                                        <div class="form-group">
                                            @Html.CustomLabel("End Date")
                                            @Html.TextBoxFor(m => m.EndDate, "{0:yyyy-MM-dd}", new { @id = "end-date", @class = "form-control", onchange = "EndDate()" })
                                            @Html.ValidationMessageFor(m => m.EndDate)
                                        </div>

                                        @*FinancialCycleStatus*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Financial Cycle Status")
                                            @Html.TextBoxFor(m => m.FinancialCycleStatus, new { @id = "financial-cycle-status", @class = "form-control mandatory-mark", @placeholder = "Enter Financial Cycle Status", required = "required", @maxlength = "3", @autocomplete = "off", onkeyup = "ToTextCapitalize()" })
                                            @Html.ValidationMessageFor(m => m.FinancialCycleStatus)
                                        </div>

                                        @*Note*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Note")
                                            @Html.TextAreaFor(m => m.Note, new { @id = "note", @class = "form-control default-none", @placeholder = "Enter Note", @maxlength = "1500", @autocomplete = "off", onkeyup = "ToTextCapitalize()" })
                                            @Html.ValidationMessageFor(m => m.Note)
                                        </div>

                                        @*NameOfUser*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Name Of User")
                                            @Html.TextBoxFor(m => m.NameOfUser, new { @class = "form-control" })
                                        </div>

                                        @*EntryDateTime*@
                                        <div class="form-group">
                                            @Html.CustomLabel("Entry Date Time")
                                            @Html.TextBoxFor(m => m.EntryDateTime, new { @class = "form-control" })
                                        </div>

                                        @*Hiddent Field For FinancialCyclePrmKey*@
                                        @Html.HiddenFor(m => m.FinancialCyclePrmKey)

                                    </div>
                                </div>

                                @*======= Fourth Row - Accordians =======*@
                                <div id="accordion" class="accordion md-accordion accordion-blocks">
                                    @*Accordian 1 - PeriodCode*@
                                    <div class="row mt-3">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-header collapsed p-3" id="heading-period-code" aria-expanded="false" data-toggle="collapse" href="#collapse-period-code">
                                                    <a class="card-title">
                                                        <b>@Html.TextWithRegionalLanguage("PeriodCode")</b>
                                                    </a>
                                                </div>

                                                <div id="collapse-period-code" class="collapse" aria-labelledby="heading-period-code" data-parent="#accordion">
                                                    <div class="row card-body">
                                                        <div class="card-body">
                                                            <table id="period-code" class="table compact table-striped table-bordered read-only" width="100">
                                                                <thead class="text-center">
                                                                    <tr>
                                                                        <th><input type="checkbox" name="check_all" id="select-all-transaction-type" /></th>
                                                                        <th>Code</th>
                                                                        <th>Start Date</th>
                                                                        <th>End Date</th>
                                                                        <th>Period Code Status</th>
                                                                        <th>Note</th>
                                                                    </tr>
                                                                </thead>

                                                                <tbody class="text-center">
                                                                    @{
                                                                        IEnumerable<PeriodCodeViewModel> periodCodeViewModelList = (IEnumerable<PeriodCodeViewModel>)HttpContext.Current.Session["PeriodCode"];

                                                                        foreach (PeriodCodeViewModel viewModel in periodCodeViewModelList)  
                                                                        {
                                                                            <tr>
                                                                                <td><input type="checkbox" name="check_all" class="checks" /></td>
                                                                                <td>@viewModel.Code</td>
                                                                                <td>@viewModel.StartDate</td>
                                                                                <td>@viewModel.EndDate</td>
                                                                                <td>@viewModel.PeriodCodeStatus</td>
                                                                                <td>@viewModel.Note</td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*Footer*@
                            @Html.OperationFooter("Verify", "Exit", "Home", Model.Remark)
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    var SaveDataTables = "@Url.Action("SaveDataTables", "FinancialCycle")";
</script>
<script>
    objSelect2 = $(".multiselect").select2({
        width: '100%',
    });
</script>
<script src="~/Scripts/Custom/PeriodCode.js"></script>