@model IEnumerable<DemoProject.Services.ViewModel.Management.Conference.MinuteOfMeetingAgendaViewModel>
@using DemoProject.Services.HtmlHelpers
@using DemoProject.Services.ViewModel.Configuration

@{
    HeaderPartialModel headerPartialModel = new HeaderPartialModel("MUACIN");
}

<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>MinuteOfMeetingAgenda - Create Index</title>
</head>
<body>
    @*======= First Row - For Header =======*@
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                @Html.Partial("Header", headerPartialModel)
            </div>
        </div>
        <br />

        @*======= Second Row - Data Entry Page =======*@
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body no-footer">
                        <table id="example" class="display table table-striped table-hover dt-responsive nowrap cell-border">
                            <thead>
                                <tr>
                                    <th>SR.</th>
                                    <th>MeetingTitle</th>
                                    <th>NameOfAgenda</th>
                                    <th>EntryDate</th>
                                    <th>UserName</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in Model)
                                    {
                                        <tr class="hoverlightblue">
                                            <td></td>
                                            <td>@item.MeetingTitle</td>
                                            <td>@item.NameOfAgenda</td>
                                            <td>@item.EntryDateTime</td>
                                            <td>@item.NameOfUser</td>
                                            <td>
                                                <button class="btn btn-link" onclick="location.href='@Url.Action("Create","MinuteOfMeetingAgenda",new {@item.MeetingAgendaId })'">Create</button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    @Html.OperationFooter("None", "Exit", "Home", "None")
                </div>
            </div>
        </div>
    </div>
</body>
</html>